<template>
  <Layout>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>
        Login Page
      </h1>
      <button
        class="btn_normal"
        @click="open_demo"
      >
        Open demo page
      </button>
      <cb-checkbox v-model="cb_register_required" text="REGISTER_REQUIRED (專案中的設定在 src/settings/cb-account.js)"></cb-checkbox>

      <section id="slots">
        <h3>
          Slots
        </h3>

        <div class="flex flex-col border rounded-lg border-gray-200">
          <div class="overflow-x-auto">
            <div class="inline-block min-w-full">
              <div class="overflow-hidden">
                <table class="min-w-full">
                  <thead>
                    <tr>
                      <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                        Name
                      </th>
                      <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                        Description
                      </th>
                    </tr>
                    <tr class="border-t">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        logo
                      </td>
                      <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                        在帳號輸入框上方，用來放系統 logo 或系統名稱。
                      </td>
                    </tr>
                    <tr class="border-t">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        extra_login
                      </td>
                      <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                        在登入按鈕下方，用來放其他平台的登入按鈕。
                      </td>
                    </tr>
                    <tr class="border-t">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        reset_password_description
                      </td>
                      <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                        點了忘記密碼後，在跳出的 modal 內容處。
                        <br>
                        預設：請輸入電子郵件或手機號碼以重設密碼
                      </td>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </template>
  </Layout>
</template>

<script>
import { ref } from '@vue/runtime-core'
import { useRouter } from 'vue-router'

import Layout from '@/components/Layout.vue'
import DemoBlock from '@/components/DemoBlock.vue'
import PropsTable from '@/components/PropsTable.vue'

import { html_beautify, js_beautify } from 'js-beautify'
import AnchorAside from '../../../components/AnchorAside.vue'

export default {
  components: {
    Layout,
    DemoBlock,
    PropsTable,
    AnchorAside
},

  setup() {
    const router = useRouter()

    const cb_register_required = ref(false)

    const open_demo = () => {
      let path = null
      if (cb_register_required.value) {
        path = {
          name: 'Home',
          query: {
            page: 'LoginWithRegister'
          }
        }
      }
      else {
        path = {
          name: 'Home',
          query: {
            page: 'Login'
          }
        }
      }
      let router_url = router.resolve(path)
      window.open(router_url.href, '_blank')
    }

    return {
      open_demo,
      cb_register_required
    }
  }
}
</script>

<style>

</style>
