<template>
  <Layout>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>
        VerifySMS Page
      </h1>
      <button
        class="btn_normal"
        @click="open_demo"
      >
        Open demo page
      </button>

      <section id="slots">
        <h3>
          Slots
        </h3>
        <p>目前沒有提供 slots</p>
      </section>
    </template>
  </Layout>
</template>

<script>
import { useRouter } from 'vue-router'

import Layout from '@/components/Layout.vue'

export default {
  components: {
    Layout,
  },

  setup() {
    const router = useRouter()

    const open_demo = () => {
      let router_url = router.resolve({
        name: 'Home',
        query: {
          page: 'VerifySMS'
        }
      })
      window.open(router_url.href, '_blank')
    }

    return {
      open_demo
    }
  }
}
</script>

<style>

</style>
