<template>
  <div class="min-h-screen flex p-8">
    <section class="w-full max-w-88 m-auto">
      <div class="flex flex-col justify-center items-center">
        <slot name="logo">
          <h1 class="text-primary-heavy text-4xl font-bold tracking-wider my-2">
            登入
          </h1>
        </slot>
      </div>
      <div class="flex flex-col gap-4 my-4">
        <input
          type="text"
          :placeholder="username_text"
          class="input--base"
          v-model="username"
          @keyup.enter="focus_pwd"
        >
        <input
          type="password"
          placeholder="密碼"
          class="input--base"
          v-model="password"
          @keyup.enter="login"
        >
        <a
          v-if="REGISTER_REQUIRED"
          @click="forgot_pwd_modal_visible = true"
          class="hover:text-primary cursor-pointer"
        >忘記密碼?</a>
      </div>

      <hr class="my-4">

      <div class="w-full flex justify-center flex-wrap gap-4 px-2">
        <button
          v-if="REGISTER_REQUIRED"
          class="btn_normal flex-1 whitespace-nowrap"
          @click="$router.push(REGISTER_PATH)"
        >註冊會員
        </button>
        <cb-button
          type="button"
          class="btn_primary flex-1 whitespace-nowrap"
          :loading="is_logging_in"
          @click="login"
        >
          登入
        </cb-button>
      </div>
      <slot name="extra_login">
      </slot>
    </section>

    <cb-modal
      v-model:visible="forgot_pwd_modal_visible"
      title="忘記密碼"
      ok_text="送出"
      :loading="is_resetting_pwd"
      @confirm="reset_pwd"
      cancel_btn_required
    >
      <div>
        <label>
          <slot name="reset_password_description">
            請輸入電子郵件或手機號碼以重設密碼
          </slot>
        </label>
        <input
          type="text"
          class="input--base w-full mt-2"
          v-model="contact_info"
        >
      </div>
    </cb-modal>
  </div>
</template>

<script>
import { computed, inject, ref } from 'vue'
import { useRouter, useRoute } from 'vue-router'

import { USERNAME_TYPE, HOME_PATH, REGISTER_PATH, VERIFY_SMS_PATH } from '@/settings/cb-account'

export default {
  name: 'CBAccountLogin',

  setup() {
    const UserStore = inject('UserStore')
    const router = useRouter()
    const route = useRoute()

    const is_logging_in = ref(false)
    const is_resetting_pwd = ref(false)
    const forgot_pwd_modal_visible = ref(false)
    const username = ref('')
    const password = ref('')
    const contact_info = ref('')
    const username_text = computed(() => {
      if (USERNAME_TYPE === 'mobile') {
        return '帳號（手機號碼）'
      }
      else if (USERNAME_TYPE === 'email') {
        return '帳號（電子信箱）'
      }
      else {
        return '帳號'
      }
    })

    const login = () => {
      is_logging_in.value = true
      UserStore.login(username.value, password.value)
        .then(() => {
          router.push(route.query.redirect || HOME_PATH)
        })
        .catch(code => {
          if (code === 403) {
            alert('您尚未驗證通過，請重新驗證')
            if (USERNAME_TYPE === 'mobile') {
              router.push(VERIFY_SMS_PATH)
            }
          }
          else if (code === 401) {
            alert('帳號密碼錯誤')
          }
          else if (code === 500) {
            alert('系統內部發生錯誤')
          }
        }).finally(() => {
          is_logging_in.value = false
        })
    }

    const focus_pwd = () => {
      document.getElementById("password").focus()
    }

    const reset_pwd = (modal_is_ok) => {
      if (!modal_is_ok) { return }

      if (contact_info.value === "") {
        alert('請輸入電子信箱或手機號碼')
        return
      }

      is_resetting_pwd.value = true
      UserStore.reset_pwd(contact_info.value)
        .then(message => {
          alert(message)
          forgot_pwd_modal_visible.value = false
          contact_info.value = ""
        })
        .catch(status_code => {
          if (status_code === 400) {
            alert('請輸入電子信箱或手機號碼。')
          }
          if (status_code === 404) {
            alert('此信箱/手機並未註冊任何帳號。')
          }
          if (status_code === 500) {
            alert('發生不明錯誤，請聯絡客服人員。')
          }
        })
        .finally(() => {
          is_resetting_pwd.value = false
        })
    }

    return {
      REGISTER_REQUIRED: true,
      REGISTER_PATH,

      is_logging_in,
      is_resetting_pwd,
      forgot_pwd_modal_visible,

      username,
      password,
      contact_info,
      username_text,

      login,
      focus_pwd,
      reset_pwd
    }
  }
}
</script>

<style scoped>
</style>
