<template>
  <button class="btn_primary--line absolute top-0 left-0 m-2" @click="refresh">
    更新圖表
  </button>
  <div class="w-full px-8 lg:pt-8">
    <div style="width: 100%; height: 100px" id="cb_chart"></div>
  </div>
</template>

<script>
import { CBChart } from '@/libs/cb-chart/cb_chart.js'
import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'
import { CBAxisXPaint, CBAxisYPaint } from '@/libs/cb-chart/cb_axis_paint.js'
import { nextTick, onBeforeUnmount } from 'vue'

export default {
  props: [
    'clip_size',
    'canvas_size',
    'canvas_margin',
    'tooltip_required',
    'horizontal_drag_required',
    'x_reference_line_required',
    'y_reference_line_required',
    'clip_class',
    'selected_block_x',
  ],

  setup(props) {
    let data = [
      {
        x: 1,
        y: 10,
      },
      {
        x: 2,
        y: 15,
      },
      {
        x: 3,
        y: 30,
      },
      {
        x: 4,
        y: 15,
      },
      {
        x: 5,
        y: 30,
      },
      {
        x: 6,
        y: 30,
      },
    ]

    const chart_id = 'cb_chart'
    let chart = null
    nextTick(() => {
      refresh()
    })

    const refresh = () => {
      if (chart) chart.destroy()
      chart = new CBChart(
        chart_id,
        {
          elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
        },
        {
          clip_size: props.clip_size,
          canvas_size: props.canvas_size,
          canvas_margin: props.canvas_margin,
          tooltip_required: props.tooltip_required,
          horizontal_drag_required: props.horizontal_drag_required,
          x_reference_line_required: props.x_reference_line_required,
          y_reference_line_required: props.y_reference_line_required,
          clip_class: props.clip_class,
          selected_block_x: props.selected_block_x,
          axis_x: {
            paint: new CBAxisXPaint({
              text_align: 'bottom',
            }),
          },
          axes_y: {
            elem1: {
              paint: new CBAxisYPaint(),
            },
          },
        }
      )
    }

    onBeforeUnmount(() => {
      chart.destroy()
    })

    return {
      refresh,
    }
  },
}
</script>
