<template>
  <div class="w-full px-8">
    <div style="width: 100%; height: 100px" id="time_chart"></div>
    <!-- <div>
      <div id="time_chart_axis_y"></div>
      <div>
        <div id="time_chart_axis_x"></div>
      </div>
    </div> -->
  </div>
</template>

<script>
import { CBTimeChart } from '@/libs/cb-chart/cb_chart.js'
import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'
import { CBAxisXPaint, CBAxisYPaint } from '@/libs/cb-chart/cb_axis_paint.js'
import { nextTick, onBeforeUnmount } from 'vue'

export default {
  setup() {
    let data = []
    for (
      let dtime = new Date().zero_hour();
      dtime < new Date().addDays(1);
      dtime = dtime.addHours(1)
    ) {
      data.push({
        x: dtime,
        y: Math.random(),
      })
    }

    const chart_id = 'time_chart'
    let chart = null
    nextTick(() => {
      chart = new CBTimeChart(
        chart_id,
        {
          elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
        },
        {
          axis_x: {
            paint: new CBAxisXPaint({
              tick_format: (v) => v.strftime('%H:%M'),
              text_align: 'bottom',
            }),
          },
          axes_y: {
            elem1: {
              paint: new CBAxisYPaint(),
            },
          },
        }
      )
    })

    onBeforeUnmount(() => {
      chart.destroy()
    })
  },
}
</script>
