<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <AnchorAside v-if="anchor_list.length" :anchor_list="anchor_list">
      </AnchorAside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Dialog</h1>
      <p>
        cb-dialog (cb_alert, cb_confirm 的通稱) 為 cb-theme 提供的全域函式。
        <br />
        用於取代 Javascript 原生的 alert(), confirm()。
        <br />
        和 cb-modal 的差別在於呼叫方法不同，cb-dialog 是用 function
        直接呼叫後，會動態生成一個 cb-modal
        在畫面上，通常是在要生成簡單的通知或警告時使用。
      </p>

      <section id="cb_alert">
        <h2 class="mt-8">cb_alert</h2>

        <h3>Usage</h3>
        <div>
          <code-block
            code="import { cb_alert } from '@/libs/cb-theme'

cb_alert(content)
  .then(() => {
    // 這裡代表使用者點了確定
  })"
          >
          </code-block>
          <props-table :type="'Parameter'" class="border rounded-lg">
            <tr class="border-t">
              <td class="px-6 py-4 text-sm font-medium max-w-72">
                <code>content</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>String | Object</code>
              </td>
              <td></td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                可傳入 content 字串或 options 物件。
                <br />
                例如 <code>cb_alert('Hi')</code>，等價於
                <code>cb_alert({ content: 'Hi' })</code>。
              </td>
            </tr>
          </props-table>
        </div>

        <h3>Options</h3>
        <DemoBlock id="cb_alert" :code="code_for_alert">
          <button class="btn_normal" @click="trigger_cb_alert">
            Trigger cb_alert
          </button>

          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable type="Option">
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  title
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>"標題"</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示於上方標題。
                  <br />
                  （標題的優先度：html_title > title）
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="alert_options.title"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  html_title
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  html 格式的標題，會以 html 元件顯示於上方標題處。
                  <br />
                  （標題的優先度：html_title > title）
                  <br />
                  <input
                    type="text"
                    class="input--base w-full my-2"
                    v-model="alert_options.html_title"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  content
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>"內容"</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示於中間內容。
                  <br />
                  （內容的優先度：html_content > content）
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="alert_options.content"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  html_content
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  html 格式的內容，會以 html 元件顯示於中間內容處。
                  <br />
                  （內容的優先度：html_content > content）
                  <br />
                  <input
                    type="text"
                    class="input--base w-full my-2"
                    v-model="alert_options.html_content"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  title_icon_required
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>true</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否需要在標題前顯示 icon。
                  <br />
                  （icon 顯示的優先度：html_title > title_icon_class >
                  title_icon_required）
                  <br />
                  註：若要能顯示預設的 icon，需確認專案中是否有
                  <code>icon-info</code> 這個 font_icon。
                  <br />
                  <cb-checkbox
                    v-model="alert_options.title_icon_required"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  title_icon_class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  標題前的 icon class，應傳入 font icon
                  class。此外也可以傳入樣式 class。
                  <br />
                  （icon 顯示的優先度：html_title > title_icon_class >
                  title_icon_required）
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="alert_options.title_icon_class"
                  />
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="cb_confirm">
        <h2>cb_confirm</h2>

        <h3>Usage</h3>
        <div>
          <code-block
            code="import { cb_confirm } from '@/libs/cb-theme'

cb_confirm(content)
  .then(() => {
    // 這裡代表使用者點了確定
  })
  .catch(() => {
    // 這裡代表使用者點了取消
  })"
          >
          </code-block>
          <props-table :type="'Parameter'" class="border rounded-lg">
            <tr class="border-t">
              <td class="px-6 py-4 text-sm font-medium max-w-72">
                <code>content</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>String | Object</code>
              </td>
              <td></td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                可傳入 content 字串或 options 物件。
                <br />
                例如 <code>cb_confirm('Sure?')</code>，等價於
                <code>cb_confirm({ content: 'Sure?' })</code>。
              </td>
            </tr>
          </props-table>
        </div>

        <h3>Options</h3>
        <DemoBlock id="cb_conirm" :code="code_for_confirm">
          <button class="btn_normal" @click="trigger_cb_confirm">
            Trigger cb_confirm
          </button>

          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  title
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>"標題"</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示於上方標題。
                  <br />
                  （標題的優先度：html_title > title）
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="confirm_options.title"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  html_title
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  html 格式的標題，會以 html 元件顯示於上方標題處。
                  <br />
                  （標題的優先度：html_title > title）
                  <br />
                  <input
                    type="text"
                    class="input--base w-full my-2"
                    v-model="confirm_options.html_title"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  content
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>"內容"</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示於中間內容。
                  <br />
                  （內容的優先度：html_content > content）
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="confirm_options.content"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  html_content
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  html 格式的內容，會以 html 元件顯示於中間內容處。
                  <br />
                  （內容的優先度：html_content > content）
                  <br />
                  <input
                    type="text"
                    class="input--base w-full my-2"
                    v-model="confirm_options.html_content"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  title_icon_required
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>true</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否需要在標題前顯示 icon。
                  <br />
                  （icon 顯示的優先度：html_title > title_icon_class >
                  title_icon_required）
                  <br />
                  註：若要能顯示預設的 icon，需確認專案中是否有
                  <code>icon-warning</code> 這個 font_icon。
                  <br />
                  <cb-checkbox
                    v-model="confirm_options.title_icon_required"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  title_icon_class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  標題前的 icon class，應傳入 font icon
                  class。此外也可以傳入樣式 class。
                  <br />
                  （icon 顯示的優先度：html_title > title_icon_class >
                  title_icon_required）
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="confirm_options.title_icon_class"
                  />
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed, reactive } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import DemoBlock from '@/components/DemoBlock.vue'
import PropsTable from '@/components/PropsTable.vue'
import CodeBlock from '../../../components/CodeBlock.vue'

import { js_beautify } from 'js-beautify'

import { cb_alert, cb_confirm } from '@/libs/cb-theme'

export default {
  components: {
    Layout,
    AnchorAside,
    DemoBlock,
    PropsTable,
    CodeBlock,
  },

  setup() {
    const anchor_list = [
      {
        text: 'cb_alert',
        id: 'cb_alert',
      },
      {
        text: 'cb_confirm',
        id: 'cb_confirm',
      },
    ]

    const alert_options_default = {
      title: '標題',
      html_title: null,
      content: '內容',
      html_content: null,
      title_icon_required: true,
      title_icon_class: null,
    }
    const alert_options = reactive({ ...alert_options_default })
    const code_for_alert = computed(() => {
      let tmp = ''
      for (let key in alert_options) {
        if (alert_options[key] !== alert_options_default[key]) {
          if (typeof alert_options[key] === 'string') {
            tmp += `${key}: '${alert_options[key]}'`
          } else {
            tmp += `${key}: ${alert_options[key]}`
          }
        }
      }
      return js_beautify(`cb_alert({${tmp}})`)
    })

    const trigger_cb_alert = () => {
      cb_alert({
        title: alert_options.title,
        html_title: alert_options.html_title,
        content: alert_options.content,
        html_content: alert_options.html_content,
        title_icon_required: alert_options.title_icon_required,
        title_icon_class: alert_options.title_icon_class,
      })
    }

    const confirm_options_default = {
      title: '標題',
      html_title: null,
      content: '內容',
      html_content: null,
      title_icon_required: true,
      title_icon_class: null,
    }
    const confirm_options = reactive({ ...confirm_options_default })
    const code_for_confirm = computed(() => {
      let tmp = ''
      for (let key in confirm_options) {
        if (confirm_options[key] !== confirm_options_default[key]) {
          if (typeof confirm_options[key] === 'string') {
            tmp += `${key}: '${confirm_options[key]}'`
          } else {
            tmp += `${key}: ${confirm_options[key]}`
          }
        }
      }
      return js_beautify(`cb_confirm({${tmp}})`)
    })

    const trigger_cb_confirm = () => {
      cb_confirm({
        title: confirm_options.title,
        html_title: confirm_options.html_title,
        content: confirm_options.content,
        html_content: confirm_options.html_content,
        title_icon_required: confirm_options.title_icon_required,
        title_icon_class: confirm_options.title_icon_class,
      })
    }

    return {
      anchor_list,
      alert_options,
      trigger_cb_alert,
      code_for_alert,

      confirm_options,
      trigger_cb_confirm,
      code_for_confirm,
    }
  },
}
</script>

<style></style>
