<template>
  <Layout>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Getting Started</h1>

      <section id="introduction">
        <h2>Introduction</h2>
        <p>
          cb-account
          是雲灣自行開發、供內部使用的元件庫。提供了跟使用者帳號有關的元件頁面。
        </p>
      </section>

      <section id="dependency">
        <h2>Dependency</h2>
        <ul class="list-disc px-6">
          <li>Vue 3</li>
          <li>Windi CSS</li>
          <li>cb-theme</li>
          <li>後端：cb-user</li>
        </ul>
      </section>

      <section id="installation">
        <h2>Installation</h2>

        <h3 class="my-4 font-bold">1. Add submodule:</h3>
        <CodeBlock
          lang="shell"
          code="git submodule add https://gitlab.com/cloudybay/cb-account.git src/libs/cb-account"
        >
        </CodeBlock>
        <p class="my-2">
          Then checkout to branch <code class="inline_code">vue3_windi</code>.
        </p>

        <h3 class="my-4 font-bold">2. Add routes:</h3>
        <p class="my-4">
          加入需要的頁面到路由設定。（登入頁若需要改 logo 等等，需 extend
          成專案自己的頁面）
          <br />
        </p>
        <CodeBlock filename="router.js" :code="code_for_routes"> </CodeBlock>
        <p class="my-4">
          *此外，專案中若有需要登入的 (login_required)、或是需要權限的
          (permission_code) 頁面，需在該頁面加上 meta 設定如下（permission_code
          需跟後端 cb-user 一致）：
        </p>
        <CodeBlock filename="router.js" :code="code_for_login_meta">
        </CodeBlock>

        <h3 class="my-4 font-bold">3. Import UserStore:</h3>
        <CodeBlock filename="App.vue" :code="code_for_appvue"> </CodeBlock>
        <br />
        <CodeBlock filename="router.js" :code="code_for_router_verify">
        </CodeBlock>

        <h3 class="my-4 font-bold">4. Add settings:</h3>
        <p class="my-4">這個設定檔的路徑和檔名需如下一致。</p>
        <CodeBlock
          filename="src/settings/cb-account.js"
          :code="code_for_settings"
        >
        </CodeBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import CodeBlock from '@/components/CodeBlock.vue'

import { js_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    AnchorAside,
    CodeBlock,
  },

  setup() {
    const anchor_list = [
      {
        text: 'Introduction',
        id: 'introduction',
      },
      {
        text: 'Dependency',
        id: 'dependency',
      },
      {
        text: 'Installation',
        id: 'installation',
      },
    ]

    const code_for_routes = js_beautify(`
      const routes = [
        ...,
        {
          path: '/login',
          name: 'Login',
          component: () => import('@/libs/cb-account/Login.vue')
        },
        {
          path: '/register',
          name: 'Register',
          component: () => import('@/libs/cb-account/Register.vue')
        },
        {
          path: '/register/verify_sms',
          name: 'VerifySMS',
          component: () => import('@/libs/cb-account/VerifySMS.vue')
        },
        {
          path: '/reset_password',
          name: 'ChangePassword',
          component: () => import('@/libs/cb-account/ChangePassword.vue')
        },
        // 若有開啟權限檢查，且檢查沒過時預設重導向的頁面
        {
          path: '/forbidden',
          name: 'Forbidden',
          component: () => import('@/libs/cb-account/Forbidden.vue')
        },
        ...
      ]
    `)

    const code_for_login_meta = js_beautify(`
      const routes = [
        ...,
        {
          path: '/',
          name: 'Home',
          component: () => import('@/views/Home.vue'),
          meta: {
            login_required: true
            permission_code: 'home'
          }
        },
        ...
      ]
    `)

    const code_for_appvue = js_beautify(`
      import { provide } from 'vue'
      import { useUserStore } from '@/libs/cb-account/UserStore'

      export default {
        setup(props) {
          // cb-account
          const UserStore = useUserStore()
          provide('UserStore', UserStore)
        }
      }
    `)

    const code_for_router_verify = js_beautify(`
      import { useUserStore } from '@/libs/cb-account/UserStore'
      const UserStore = useUserStore()

      router.beforeEach((to, from, next) => {
        if (to.matched.some(res => res.meta.login_required)) {
          let permission_code = to.meta?.permission_code || null
          UserVState.verify(permission_code)
            .then(() => {
              next()
            })
            .catch((status_code) => {
              if (permission_code && status_code === 403) {
                next({
                  name: 'Forbidden'
                })
              } else {
                next({
                  name: 'Login',
                  query: {
                    redirect: to.fullPath
                  }
                })
              }
            })
        } else {
          next()
        }
      })
    `)

    const code_for_settings = js_beautify(`
      // 帳號類別，帳號可能為手機或email或帳號
      // 'username' | 'mobile' | 'email'
      export const USERNAME_TYPE = 'username'

      // 是否需要註冊及重設密碼功能
      export const REGISTER_REQUIRED = false

      // 用於讓 UserStore 內部判斷是否要去檢查 使用者是否有該頁面瀏覽權限
      export const PERM_CHECK_REUIRED = false

      // 註冊成功後是否需要驗證
      export const VERIFICATION_REQUIRED = false

      // 在帳號設定頁，信箱是否能修改
      export const EMAIL_EDITABLE = false

      // 在帳號設定頁，手機是否能修改
      export const MOBILE_EDITABLE = false


      // 登入成功後，重導向的預設頁面
      // 若不需驗證，註冊成功後，重導向的首頁
      // 手機驗證成功後，重導向的首頁
      // 修改密碼成功後，重導向的頁面
      export const HOME_PATH = {
        name: 'Home'
      }

      export const LOGIN_PATH = {
        name: 'Login'
      }

      // 點擊「註冊會員」時，導向的註冊頁面
      export const REGISTER_PATH = {
        name: 'Register'
      }

      // 若需手機驗證，註冊成功後，重導向的手機驗證頁
      // 登入回傳 403 時，導向的手機驗證頁
      export const VERIFY_SMS_PATH = {
        name: 'VerifySMS'
      }

    `)

    return {
      anchor_list,
      code_for_routes,
      code_for_login_meta,
      code_for_router_verify,
      code_for_appvue,
      code_for_settings,
    }
  },
}
</script>

<style></style>
