<template>
  <Layout>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Getting Started</h1>

      <section id="introduction">
        <h2>Introduction</h2>
        <p>
          cb-chart 是雲灣自行開發、供內部使用的畫圖表套件。
          <br />
          特色是有方便擴充的各種圖表物件，只要能寫得出實作方法，基本上什麼圖表都能畫，非常彈性。
        </p>
      </section>

      <section id="dependency">
        <h2>Dependency</h2>
        <ul class="list-disc px-6">
          <li>cb-static</li>
        </ul>
      </section>

      <section id="installation">
        <h2>Installation</h2>

        <h3 class="my-4 font-bold">1. Add submodule:</h3>
        <CodeBlock
          lang="shell"
          code="git submodule add https://gitlab.com/cloudybay/cb-chart.git src/libs/cb-chart"
        >
        </CodeBlock>

        <h3 class="my-4 font-bold">2. Import style:</h3>
        <CodeBlock filename="main.js" :code="code_for_import"> </CodeBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import CodeBlock from '@/components/CodeBlock.vue'

import { js_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    AnchorAside,
    CodeBlock,
  },

  setup() {
    const code_for_import = js_beautify(`
      import '@/libs/cb-chart/index.css'
    `)

    return {
      code_for_import,
    }
  },
}
</script>

<style></style>
