<template>
  <div>
    <div id="axes_chart_axis_y"></div>
    <div>
      <div style="width: 100%; height: 100px" id="axes_chart"></div>
      <div id="axes_chart_axis_x"></div>
    </div>
  </div>
</template>

<script>
import { CBChart } from '@/libs/cb-chart/cb_chart.js'
import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'
import { CBAxisXPaint, CBAxisYPaint } from '@/libs/cb-chart/cb_axis_paint.js'
import { nextTick, onBeforeUnmount } from 'vue'

export default {
  setup() {
    let data = [
      {
        x: 1,
        y: 10,
      },
      {
        x: 2,
        y: 15,
      },
      {
        x: 3,
        y: 30,
      },
      {
        x: 4,
        y: 15,
      },
      {
        x: 5,
        y: 30,
      },
      {
        x: 6,
        y: 30,
      },
    ]

    const chart_id = 'axes_chart'
    let chart = null
    nextTick(() => {
      chart = new CBChart(
        chart_id,
        {
          elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
        },
        {
          axis_x: {
            paint: new CBAxisXPaint({
              container_id: chart_id + '_axis_x',
            }),
          },
          axes_y: {
            elem1: {
              paint: new CBAxisYPaint({
                container_id: chart_id + '_axis_y',
              }),
            },
          },
        }
      )
    })

    onBeforeUnmount(() => {
      chart.destroy()
    })
  },
}
</script>
