<template>
  <div id="base_chart" style="width: 100%; height: 100px"></div>
</template>

<script>
import { CBChart } from '@/libs/cb-chart/cb_chart.js'
import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'
import { nextTick, onBeforeUnmount } from 'vue'

export default {
  setup() {
    let data = [
      {
        x: 1,
        y: 10,
      },
      {
        x: 2,
        y: 15,
      },
      {
        x: 3,
        y: 30,
      },
      {
        x: 4,
        y: 15,
      },
      {
        x: 5,
        y: 30,
      },
      {
        x: 6,
        y: 30,
      },
    ]

    let chart = null

    nextTick(() => {
      chart = new CBChart('base_chart', {
        elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
      })
    })

    onBeforeUnmount(() => {
      chart.destroy()
    })
  },
}
</script>
