<template></template>

<script>
import { useRoute, useRouter } from 'vue-router'

export default {
  setup() {
    const route = useRoute()
    const router = useRouter()

    if (route.query.page) {
      router.replace({ name: route.query.page })
    } else if (route.query.module === 'cb-account') {
      router.replace({ name: 'CBAccountHome' })
    } else if (route.query.module === 'cb-chart') {
      router.replace({ name: 'CBChartHome' })
    } else {
      router.replace({ name: 'CBThemeHome' })
    }
  },
}
</script>

<style></style>
