<template>
  <div class="font-bold my-2 mr-4 py-2 pl-4 border-b">
    ON THIS PAGE
  </div>
  <div
    v-for="anchor in anchor_list"
    class="my-4"
  >
    <router-link
      :to="{ hash: '#' + anchor.id }"
      class="border-l-2 border-l-transparent cursor-pointer pl-4 hover:text-primary"
      :class="{ 'active_link': active_anchors[active_anchors.length-1] === anchor.id }"
    >
      {{ anchor.text }}
    </router-link>
    <div v-if="anchor.children" class=" mt-4 flex flex-col gap-4">
      <router-link
        v-for="child_anchor in anchor.children"
        :to="{ hash: '#' + child_anchor.id }"
        class="border-l-2 border-l-transparent text-sm cursor-pointer pl-8 hover:text-primary"
        :class="{ 'active_link': active_anchors[active_anchors.length-1] === child_anchor.id }"
      >
        {{ child_anchor.text }}
      </router-link>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from '@vue/runtime-core';

export default {
  props: {
    anchor_list: {}
  },

  setup(props) {
    const active_anchors = ref([])
    // const active_anchor = ref({
    //   id: null,
    //   radio: 0
    // })

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          // active_anchor.value = {
          //   id: entry.target.id,
          //   ratio: entry.intersectionRatio
          // }
          let idx = active_anchors.value.findIndex(anchor_id => anchor_id === entry.target.id)
          if (idx < 0) {
            active_anchors.value.push(entry.target.id)
          }
        }
        else {
          let idx = active_anchors.value.findIndex(anchor_id => {
            return anchor_id === entry.target.id
          })
          if (idx >= 0) {
            active_anchors.value.splice(idx, 1)
          }
        }
      });
    }, {
      root: document,
      rootMargin: '0px',
      threshold: 0.2
    })

    onMounted(() => {
      let target_list = []
      for (let anchor of props.anchor_list) {
        target_list.push(document.getElementById(anchor.id))
        if (anchor.children?.length) {
          for (let child_anchor of anchor.children) {
            target_list.push(document.getElementById(child_anchor.id))
          }
        }
      }
      for (let target of target_list) {
        observer.observe(target)
      }
    })

    return {
      active_anchors,
      // active_anchor
    }
  }
}
</script>

<style scoped>
.active_link {
  @apply border-l-primary text-primary;
}
</style>
