<template>
  <div
    class="relative bg-code_bg-light rounded-lg overflow-hidden group dark:bg-code_bg-dark"
  >
    <!-- file name -->
    <div v-if="filename" class="flex justify-between">
      <div class="inline text-sm bg-gray-300/50 rounded-br-lg py-1 px-4">
        <code>{{ filename }}</code>
      </div>
    </div>

    <div class="absolute top-0 right-0 hidden group-hover:block">
      <div
        :id="id + '_copy_btn'"
        class="py-2 px-4 rounded-lg cursor-pointer transition opacity-50 hover:opacity-100"
        :data-clipboard-text="code"
      >
        <img
          v-if="!is_copied"
          src="@/assets/imgs/copy-regular.svg"
          class="w-5 h-5"
          :style="
            theme === 'dark'
              ? 'filter: invert(100%) sepia(8%) saturate(2680%) hue-rotate(182deg) brightness(119%) contrast(104%);'
              : 'filter: invert(28%) sepia(15%) saturate(14%) hue-rotate(63deg) brightness(98%) contrast(94%);'
          "
        />
        <img
          v-else
          src="@/assets/imgs/check-circle-regular.svg"
          class="w-5 h-5"
          :style="
            theme === 'dark'
              ? 'filter: invert(100%) sepia(8%) saturate(2680%) hue-rotate(182deg) brightness(119%) contrast(104%);'
              : 'filter: invert(28%) sepia(15%) saturate(14%) hue-rotate(63deg) brightness(98%) contrast(94%);'
          "
        />
      </div>
    </div>

    <highlightjs class="m-0" :code="lang === 'shell' ? '$ ' + code : code" />
  </div>
</template>

<script>
// 處理一鍵複製
import Clipboard from 'clipboard'
import { ref } from '@vue/reactivity'
import { inject } from '@vue/runtime-core'

export default {
  props: {
    id: {},
    language: {
      default: 'html',
    },
    code: {},
    filename: {},
    lang: {},
  },

  setup(props) {
    const theme = inject('theme')
    let clipboard = new Clipboard(`#${props.id}_copy_btn`)

    const is_copied = ref(false)

    clipboard.on('success', function (e) {
      if (!is_copied.value) {
        is_copied.value = true
        setTimeout(() => {
          is_copied.value = false
        }, 1000)
      }

      e.clearSelection()
    })

    return {
      theme,
      is_copied,
    }
  },
}
</script>

<style></style>
