<template>
  <highlightjs
    class="h-full m-0"
    language="html"
    :code="initial_code"
    contenteditable="true"
    @input="update_code"
  />
</template>

<script>
export default {
  props: {
    'modelValue': String
  },

  emit: ['update:modelValue'],

  setup(props, { emit }) {
    const initial_code = props.modelValue
    return {
      initial_code,
      update_code: (e) => {
        emit('update:modelValue', e.target.innerText)
      }
    }
  }
}
</script>

<style>

</style>
