<template>
  <div class="relative my-2 rounded-lg border border-gray-200">
    <!-- 右上小工具 -->
    <div
      v-if="code !== null"
      class="absolute top-0 right-0 z-11 flex items-center divide-x"
    >
      <div class="flex">
        <cb-radio v-model="selected_tab" value="preview">
          <div
            class="py-2 px-4 rounded-lg cursor-pointer transition hover:bg-accent-light/50 active:bg-accent peer-checked:bg-accent-light dark:hover:bg-accent-heavy/50 dark-peer-checked:bg-accent-heavy"
          >
            Preview
          </div>
        </cb-radio>
        <cb-radio v-model="selected_tab" value="code">
          <div
            class="py-2 px-4 rounded-lg cursor-pointer transition hover:bg-accent-light/50 active:bg-accent peer-checked:bg-accent-light dark:hover:bg-accent-heavy/50 dark-peer-checked:bg-accent-heavy"
          >
            Code
          </div>
        </cb-radio>
      </div>

      <div>
        <div
          :id="id + '_copy_btn'"
          class="py-2 px-4 rounded-lg cursor-pointer transition opacity-50 hover:opacity-100"
          :data-clipboard-text="code"
        >
          <img
            v-if="!is_copied"
            src="@/assets/imgs/copy-regular.svg"
            class="w-5 h-5"
            :style="
              theme === 'dark'
                ? 'filter: invert(100%) sepia(8%) saturate(2680%) hue-rotate(182deg) brightness(119%) contrast(104%);'
                : 'filter: invert(28%) sepia(15%) saturate(14%) hue-rotate(63deg) brightness(98%) contrast(94%);'
            "
          />
          <img
            v-else
            src="@/assets/imgs/check-circle-regular.svg"
            class="w-5 h-5"
            :style="
              theme === 'dark'
                ? 'filter: invert(100%) sepia(8%) saturate(2680%) hue-rotate(182deg) brightness(119%) contrast(104%);'
                : 'filter: invert(28%) sepia(15%) saturate(14%) hue-rotate(63deg) brightness(98%) contrast(94%);'
            "
          />
        </div>
      </div>
    </div>

    <template v-if="selected_tab === 'preview'">
      <!-- 主體 -->
      <div
        class="sticky top-[64px] z-10 bg-light-50 shadow shadow-gray-200/50 rounded-lg pt-16 pb-8 flex justify-center lg:pt-8 dark:bg-dark-400"
      >
        <slot>
          <div v-html="code"></div>
        </slot>
      </div>
    </template>
    <template v-else>
      <div class="bg-code_bg-light p-4 pt-8 rounded-lg dark:bg-code_bg-dark">
        <!-- code -->
        <highlightjs class="m-0" language="vue" :code="code" />
      </div>
    </template>

    <slot name="props_table"> </slot>
  </div>
</template>

<script>
// 處理一鍵複製
import Clipboard from 'clipboard'
import { ref } from '@vue/reactivity'
import { inject } from '@vue/runtime-core'

export default {
  props: {
    code: {
      type: String,
      default: null,
    },
    id: {
      type: String,
      default: '',
    },
  },

  setup(props) {
    const theme = inject('theme')
    let clipboard = new Clipboard(`#${props.id}_copy_btn`)

    const is_copied = ref(false)

    clipboard.on('success', function (e) {
      if (!is_copied.value) {
        is_copied.value = true
        setTimeout(() => {
          is_copied.value = false
        }, 1000)
      }

      e.clearSelection()
    })

    return {
      theme,
      selected_tab: ref('preview'),

      is_copied,
    }
  },
}
</script>

<style></style>
