<template>
  <div class="rounded-lg overflow-hidden shadow shadow-gray-200/50 flex">
    <div class=" relative flex-1 bg-light-400">
      <highlightjs
        class="h-full m-0"
        language="html"
        :code="code"
        contenteditable="true"
        @input="update_code"
      />
    </div>
    <div
      class=" flex-1 m-auto"
    >
      <div
        class="py-8 flex justify-center"
        v-html="editable_code"
      >
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from '@vue/reactivity'

export default {
  props: {
    code: String
  },

  setup(props) {
    const editable_code = ref(props.code)

    return {
      editable_code,

      update_code: (e) => {
        editable_code.value = e.target.innerText
      }
    }
  }
}
</script>

<style>

</style>
