<template>
  <header
    class="sticky top-0 z-30 bg-opacity-50 h-[64px] border-b backdrop-filter backdrop-blur firefox:bg-opacity-90"
  >
    <div class="max-w-8xl mx-auto xl:px-8">
      <div
        class="flex items-center justify-between px-4 py-4 lg:px-8 sm:px-6 xl:px-0 border-gray-200"
      >
        <div class="flex items-center">
          <router-link :to="{ name: 'Home' }" class="font-bold">
            CB Modules |
          </router-link>
          <cb-select class="mx-2" v-model="selected_module">
            <option
              v-for="(module, idx) in module_list"
              :key="idx"
              :value="module"
            >
              {{ module.text }}
            </option>
          </cb-select>
        </div>
        <div class="flex gap-2">
          <a @click="open_gitlab" class="cursor-pointer">
            <img
              src="@/assets/imgs/gitlab_logo.svg"
              alt="Gitlab"
              class="w-8 h-8 opacity-70 hover:opacity-100"
            />
          </a>

          <!-- 顏色模式 -->
          <div
            class="p-2 rounded-lg cursor-pointer opacity-70 hover:opacity-100"
            @click="switch_theme()"
          >
            <!-- 月亮 icon -->
            <img
              v-if="theme === 'light'"
              src="@/assets/imgs/moon-solid.svg"
              alt="light mode"
              class="w-4 h-4"
            />

            <!-- 太陽 icon -->
            <svg
              v-else
              class="w-5 h-5 -mt-0.5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- 背景 -->
  <div>
    <!-- 扣除 footer 的上半部 -->
    <div class="flex px-4 mx-auto max-w-8xl sm:px-6 lg:px-8">
      <!-- left aside -->
      <div class="flex-shrink-0 hidden lg:block lg:pr-8">
        <!-- left aside 的實際內容 -->
        <div
          class="sticky top-0 pt-[120px] pb-10 max-h-screen overflow-y-auto scrollbar-hidden mt-[-64px]"
        >
          <NavAside></NavAside>
        </div>
      </div>

      <!-- right aside -->
      <div
        class="z-10 flex-shrink-0 order-2 hidden w-64 min-w-0 xl:block xl:pl-8"
      >
        <!-- right aside 的實際內容 -->
        <div
          class="sticky top-0 max-h-screen pt-[120px] pb-10 overflow-y-auto mt-[-64px]"
        >
          <slot name="right"></slot>
        </div>
      </div>

      <!-- main -->
      <main class="flex flex-1 min-w-0 pt-12">
        <div class="flex-1 min-w-0 max-w-[880px] mx-auto order-1">
          <slot name="main"></slot>
        </div>
      </main>
    </div>

    <!-- footer -->
    <footer></footer>
  </div>

  <!-- 小螢幕 menu -->
  <div class="lg:hidden">
    <!-- menu button -->
    <button
      class="fixed right-4 bottom-4 z-60 bg-gray-200/20 backdrop-filter backdrop-blur rounded-full border border-gray-200 shadow-md shadow-gray-200/50 p-4 active:shadow-none hover:bg-gray-200/0"
      @click="menu_visible ? (menu_visible = false) : (menu_visible = true)"
    >
      <i v-if="!menu_visible" class="icon-menu-1 text-3xl text-gray-400"></i>
      <i v-else class="icon-symbol_close text-3xl text-gray-400"></i>
    </button>

    <!-- aside -->
    <!-- windi 的 fade 動畫對透明的模糊背景沒有效... 這邊用 vue 的 trasition -->
    <transition name="fade">
      <div
        v-if="menu_visible"
        class="fixed top-0 left-0 z-50 w-full h-full backdrop-filter backdrop-blur"
        @click.self="menu_visible = false"
      ></div>
    </transition>
    <div
      class="fixed top-0 z-60 h-full bg-light-50 border-r border-gray-200 w-64 py-8 pl-4 overflow-y-auto scrollbar-hidden -left-full lg:hidden dark:bg-dark-400"
      :class="{
        'animate-move_in_right': menu_visible,
        'animate-move_out_left': menu_visible === false,
      }"
    >
      <NavAside></NavAside>
    </div>
  </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import NavAside from './NavAside.vue'
import { inject, watch } from '@vue/runtime-core'
import { useRoute, useRouter } from 'vue-router'

export default {
  components: { NavAside },

  setup() {
    const router = useRouter()
    const route = useRoute()

    const menu_visible = ref(null)
    const theme = inject('theme')

    const switch_theme = () => {
      if (theme.value === 'dark') {
        theme.value = 'light'
      } else {
        theme.value = 'dark'
      }
    }

    const module_list = [
      {
        text: 'cb-theme',
        name: 'CBTheme',
      },
      {
        text: 'cb-account',
        name: 'CBAccount',
      },
      {
        text: 'cb-chart',
        name: 'CBChart',
      },
    ]

    const selected_module = ref(null)

    for (let _module of module_list) {
      if (route.path.startsWith(`/${_module.text}/`)) {
        selected_module.value = _module
      }
    }

    const open_gitlab = () => {
      window.open(
        `https://gitlab.com/cloudybay/${selected_module.value.text}.git`,
        '_blank'
      )
    }

    watch(selected_module, (_module) => {
      if (_module) {
        router.push({ name: `${_module.name}Home` })
      }
    })

    return {
      menu_visible,
      open_gitlab,
      theme,
      switch_theme,
      module_list,
      selected_module,
    }
  },
}
</script>
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
