<template>
  <div v-for="nav_group in nav_groups" :key="nav_group.name">
    <div class="text-lg font-bold my-3">
      {{ nav_group.text ? nav_group.text : nav_group.name }}
    </div>
    <div class="flex flex-col gap-2">
      <router-link
        v-for="nav_child in nav_group.children"
        :key="nav_child.name"
        :to="{ name: nav_child.name }"
        class="nav_link border-l-2 border-l-transparent cursor-pointer py-1 px-4 hover:text-primary"
      >
        {{ nav_child.text ? nav_child.text : nav_child.name }}
      </router-link>
    </div>
  </div>
</template>

<script>
import { useRoute } from 'vue-router'
import { MODULE_ROUTES } from '@/router'

export default {
  setup() {
    const route = useRoute()
    let nav_groups = []

    for (let module_route of MODULE_ROUTES) {
      if (route.path.startsWith(module_route.path)) {
        nav_groups = module_route.children.filter(
          (group) => group.children?.length
        )
        break
      }
    }

    return {
      nav_groups,
    }
  },
}
</script>

<style scoped>
.nav_link.router-link-exact-active {
  @apply text-primary border-l-primary;
}
</style>
