<template>
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead>
              <tr>
                <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                  {{ type }}
                </th>
                <th
                  v-if="default_required"
                  scope="col"
                  class="text-sm font-medium px-6 py-4 text-left"
                >
                  Type
                </th>
                <th
                  v-if="default_required"
                  scope="col"
                  class="text-sm font-medium px-6 py-4 text-left"
                >
                  Default
                </th>
                <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              <slot></slot>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      default: 'Prop',
    },

    default_required: {
      default: true,
    },
  },
}
</script>

<style></style>
