<template>
  <layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <anchor-aside :anchor_list="anchor_list"> </anchor-aside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Basic Usage</h1>

      <section id="base">
        <h2>基本版</h2>
        <p class="my-2">
          一個最基本的圖表包含三種物件：
          <router-link
            :to="{ name: 'CBChartPage' }"
            class="text-sky-600 hover:text-sky-800"
          >
            CBChart
          </router-link>
          ,
          <router-link
            :to="{ name: 'CBDataArtistPage' }"
            class="text-sky-600 hover:text-sky-800"
          >
            CBDataArtist
          </router-link>
          ,
          <router-link
            :to="{ name: 'CBChartPaintPage' }"
            class="text-sky-600 hover:text-sky-800"
          >
            CBChartPaint
          </router-link>
          ，可對這些物件擴充來畫各種不同的圖表。
        </p>
        <p class="my-2">
          步驟 1. 建立一個 div tag 帶有特定 id，並給定寬高的樣式。
        </p>
        <p class="my-2">步驟 2. 呼叫圖表生成。</p>
        <p class="my-2">
          步驟 3. 在合適的時機清除圖表，例如在離開頁面之前加上 chart.destroy()。
        </p>
        <p class="my-2">
          此處要注意的是呼叫圖表生成之前，帶有 chart_id 的 DOM
          元件必須已生成，因此可能會需要 nextTick(), onMounted()
          等非同步函示的輔助。
        </p>
        <code-block :code="code_base"> </code-block>
        <h3>結果</h3>
        <base-chart></base-chart>
      </section>

      <section id="axes" class="mb-4">
        <h2>加上 xy 軸</h2>
      </section>

      <section id="axes_canvas">
        <h3 class="mt-4 mb-2">作法 1. 直接將刻度畫在圖表上</h3>
        <p class="my-2">
          1. 在 chart_options 中 x, y 的 options 加上 paint。
          <br />
          預設會直接將刻度畫在 canvas 的上層元件（可視為是畫布範圍）。
          <br />
          （完全不設定
          <router-link
            :to="{ name: 'CBAxisPaintPage', hash: '#CBAxisXPaint' }"
            class="text-sky-600 hover:text-sky-800"
          >
            CBAxisXPaint
          </router-link>
          的情況，x 軸可能會超出畫布下方，可視情況要不要加上 text_align:
          'bottom'，使其 bottom: 0px）
        </p>
        <p class="my-2">
          這個作法較適合呈現方式較簡單的刻度軸，例如只有 x
          軸需跟著圖表滾動。且因背景為圖表 canvas
          的延伸，若刻度軸若有需和圖表配合的樣式，可以直接畫，例如 x
          軸白天晚上需顯示不同背景色。
        </p>
        <code-block :code="code_axes_canvas"> </code-block>
        <h3>結果</h3>
        <axes-chart-canvas> </axes-chart-canvas>
      </section>

      <section id="axes_dom" class="mt-16 mb-4">
        <h3 class="mt-4 mb-2">作法 2. 自定義圖表 html 結構</h3>
        <p class="my-2">
          在 html 中自行建立軸和圖表的結構，並把 DOM 元件 id 傳給
          <router-link
            :to="{ name: 'CBAxisPaintPage' }"
            class="text-sky-600 hover:text-sky-800"
          >
            CBAxisPaint
          </router-link>
          。
        </p>
        <p class="my-2">
          這個作法較適合兩軸樣式較複雜的情況，可以自行替刻度軸設定 css 樣式。
        </p>
        <code-block :code="code_axes"> </code-block>
        <h3>結果</h3>
        <axes-chart></axes-chart>
      </section>

      <section id="axes_scroll" class="mt-16 mb-4">
        <h2>特殊處理：兩軸都需在滾動時固定</h2>
        <h3 class="mt-4 mb-2">作法：調整 DOM 元件結構並使用特定樣式</h3>
        <p class="my-2">
          這裡需要的是讓兩軸可以在滾動時固定的 css 樣式，例如 sticky 或是 grid。
          <br />
          這邊示範 sticky 的用法（搭配 windi css 語法）。
        </p>
        <p class="my-2">
          這個作法較適合想固定多個刻度軸的情境，例如 tt 專案的放假機率表。
        </p>
        <code-block :code="code_axes_sticky"> </code-block>
        <h3>結果</h3>
        <axes-chart-sticky> </axes-chart-sticky>
        <p class="opacity-50 text-sm">框線是為了標明圖表範圍</p>
      </section>
    </template>
  </layout>
</template>

<script>
import Layout from '../../../components/Layout.vue'
import CodeBlock from '../../../components/CodeBlock.vue'

import { html_beautify } from 'js-beautify'
import BaseChart from '../../../components/chart_demo/usage/basic/BaseChart.vue'
import AxesChart from '../../../components/chart_demo/usage/basic/AxesChart.vue'
import AnchorAside from '../../../components/AnchorAside.vue'
import AxesChartCanvas from '../../../components/chart_demo/usage/basic/AxesChartCanvas.vue'
import AxesChartSticky from '../../../components/chart_demo/usage/basic/AxesChartSticky.vue'

export default {
  components: {
    Layout,
    CodeBlock,
    BaseChart,
    AxesChart,
    AnchorAside,
    AxesChartCanvas,
    AxesChartSticky,
  },

  setup() {
    const anchor_list = [
      {
        text: '基本版',
        id: 'base',
      },
      {
        text: '加上 xy 軸',
        id: 'axes',
        children: [
          {
            text: '1. 直接將刻度畫在圖表上',
            id: 'axes_canvas',
          },
          {
            text: '2. 自定義圖表 html 結構',
            id: 'axes_dom',
          },
        ],
      },
      {
        text: '兩軸都需在滾動時固定',
        id: 'axes_scroll',
      },
    ]

    const code_base = html_beautify(`
        <template>
          <div id="base_chart" style="width: 100%; height: 100px"></div>
        </template>

        <script>
          import { CBChart } from '@/libs/cb-chart/cb_chart.js'
          import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
          import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'
          import { nextTick, onBeforeUnmount } from 'vue'

          export default {
            setup() {
              let data = [
                {
                  x: 1,
                  y: 10,
                },
                {
                  x: 2,
                  y: 15,
                },
                {
                  x: 3,
                  y: 30,
                },
                {
                  x: 4,
                  y: 15,
                },
                {
                  x: 5,
                  y: 30,
                },
                {
                  x: 6,
                  y: 30,
                },
              ]

              let chart = null
              nextTick(() => {
                chart = new CBChart(
                  'base_chart',
                  {
                    elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
                  }
                )
              })

              onBeforeUnmount(() => {
                chart.destroy()
              })
            },
          }
        <\/script>
      `)

    const code_axes = html_beautify(`
        <template>
          <div>
            <div id="axes_chart_axis_y"></div>
            <div>
              <div style="width: 100%; height: 100px" id="axes_chart"></div>
              <div id="axes_chart_axis_x"></div>
            </div>
          </div>
        </template>

        <script>
          // import
          // 同上
          import { CBAxisXPaint, CBAxisYPaint } from '@/libs/cb-chart/cb_axis_paint.js'

          export default {
            setup() {
              // let data = [...]
              // 同上

              const chart_id = 'axes_chart'
              let chart = null
              nextTick(() => {
                chart = new CBChart(
                  chart_id,
                  {
                    elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
                  },
                  {
                    axis_x: {
                      paint: new CBAxisXPaint({
                        container_id: chart_id + '_axis_x',
                      }),
                    },
                    axes_y: {
                      elem1: {
                        paint: new CBAxisYPaint({
                          container_id: chart_id + '_axis_y',
                        }),
                      },
                    },
                  }
                )
              })

              onBeforeUnmount(() => {
                chart.destroy()
              })
            },
          }
        <\/script>
      `)

    const code_axes_canvas = html_beautify(`
        <template>
          <div style="width: 100%; height: 100px" id="axes_canvas_chart"></div>
        </template>

        <script>
          // import
          // 同上

          export default {
            setup() {
              // let data = [...]
              // 同上

              const chart_id = 'axes_canvas_chart'
              let chart = null
              nextTick(() => {
                chart = new CBChart(
                  chart_id,
                  {
                    elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
                  },
                  {
                    axis_x: {
                      paint: new CBAxisXPaint({
                        text_align: 'bottom'
                      }),
                    },
                    axes_y: {
                      elem1: {
                        paint: new CBAxisYPaint(),
                      },
                    },
                  }
                )
              })

              onBeforeUnmount(() => {
                chart.destroy()
              })
            },
          }
        <\/script>
      `)

    const code_axes_sticky = html_beautify(`
        <template>
          <div
            style="width: 100%; height: 100px"
            class="overflow-scroll scrollbar-hidden border"
          >
            <div id="axes_sticky_chart_axis_y" class="sticky left-0 w-4"></div>
            <div id="axes_sticky_chart"></div>
            <div id="axes_sticky_chart_axis_x" class="sticky bottom-0 h-4"></div>
          </div>
        </template>

        <script>
          // import
          // 同上

          export default {
            setup() {
              // let data = [...]
              // 同上

              const chart_id = 'axes_sticky_chart'
              let chart = null
              nextTick(() => {
                chart = new CBChart(
                  chart_id,
                  {
                    elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
                  },
                  {
                    clip_size: {
                      width: 1000,
                      height: 300,
                    },
                    axis_x: {
                      paint: new CBAxisXPaint({
                        container_id: chart_id + '_axis_x',
                      }),
                    },
                    axes_y: {
                      elem1: {
                        paint: new CBAxisYPaint({
                          container_id: chart_id + '_axis_y',
                        }),
                      },
                    },
                  }
                )
              })

              onBeforeUnmount(() => {
                chart.destroy()
              })
            },
          }
        <\/script>
      `)

    return {
      anchor_list,
      code_base,
      code_axes,
      code_axes_canvas,
      code_axes_sticky,
    }
  },
}
</script>

<style></style>
