<template>
  <layout>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Composition Structure</h1>

      <section>
        <p class="my-2">
          在我們的專案架構下，通常會撰寫一支 useXXXChart() 的 composition
          function 來主要負責圖表的邏輯，並留有 refresh_chart()
          等介面供外部呼叫。讓頁面在 setup() 時呼叫 useXXXChart()
          生成圖表介面，並在需要刷新圖表時呼叫 refresh_chart()。
        </p>
        <p>
          值得注意的 destroy() 的呼叫時機，範例是寫在 onBeforeUnmount()
          以及每次刷新之前，若使用情境有不一樣的呼叫時機則須改寫，例如提供
          destroy() 的介面回傳給外部呼叫。
        </p>
        <p class="my-2">
          （模組中有一支 compostion
          範例檔可供複製（example_chart.js.readme）。）
        </p>
        <code-block :code="code_vue"> </code-block>
        <code-block
          filename="compositions/base_chart.js"
          :code="code_composition"
          class="mt-4"
        >
        </code-block>
      </section>
    </template>
  </layout>
</template>

<script>
import Layout from '../../../components/Layout.vue'
import CodeBlock from '../../../components/CodeBlock.vue'

import { js_beautify, html_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    CodeBlock,
  },

  setup() {
    const code_vue = html_beautify(`
        <template>
          <div id="base_chart" style="width: 100%; height: 100px"></div>
        </template>

        <script>
        import { useBaseChart } from '@/compositions/base_chart.js'

        export default {
          setup() {
            let data = [
              {
                x: 1,
                y: 10,
              },
              {
                x: 2,
                y: 15,
              },
              {
                x: 3,
                y: 30,
              },
            ]

            const base_chart = useBaseChart('base_chart')
            base_chart.refresh(data)
          },
        }
        <\/script>
      `)

    const code_composition = js_beautify(`
        import { nextTick, onBeforeUnmount } from 'vue'

        export const useBaseChart = (chart_id) => {
          let raw_data

          let chart

          const draw_chart = () => {
            chart = new CBChart(chart_id,
              {
                elem1: new CBChartDataArtist(raw_data, new CBLineChartPaint()),
              }
            )
          }

          const refresh_chart = (_raw_data) => {
            if (chart) {
              chart = chart.destroy()
              raw_data = []
            }

            if (!_raw_data) return

            raw_data = _raw_data

            nextTick(() => {
              if (!document.getElementById(chart_id)) {
                console.warn("The chart container does not exist.");
                return
              }
              draw_chart()
            })
          }

          // 在 bundle，DOM 元件內容不會在切換路由時被清除，所以這邊手動做
          onBeforeUnmount(() => {
            if (chart) chart = chart.destroy()
          })

          return {
            refresh_chart,
          }
        }

        import { CBChart } from '@/libs/cb-chart/cb_chart.js'
        import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
        import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'
      `)

    return {
      code_composition,
      code_vue,
    }
  },
}
</script>

<style></style>
