<template>
  <layout>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Weather Chart</h1>
      <p>這邊示範一些常見的天氣圖表畫法。</p>
      <div class="my-8">
        <weather-chart></weather-chart>
      </div>

      <h2>程式碼</h2>
      <p class="mb-2">
        天氣圖表使用的物件大多是來自
        <router-link
          :to="{ name: 'CBWeatherChartPage' }"
          class="text-sky-600 hover:text-sky-800"
        >
          CBWeatherChart
        </router-link>
      </p>
      <code-block :code="code_weather"> </code-block>
    </template>
  </layout>
</template>

<script>
import Layout from '../../../components/Layout.vue'
import AnchorAside from '../../../components/AnchorAside.vue'
import CodeBlock from '../../../components/CodeBlock.vue'
import WeatherChart from '../../../components/chart_demo/usage/weather_chart/WeatherChart.vue'

import { html_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    AnchorAside,
    CodeBlock,
    WeatherChart,
  },

  setup() {
    const code_weather = html_beautify(`
    <template>
      <div id="weather_chart" style="width: 100%; height: 300px"></div>
        </template>

        <script>
        import { nextTick, onBeforeUnmount } from 'vue'
        import {
          CBLineChartPaint,
          CBIconChartPaint,
        } from '@/libs/cb-chart/cb_chart_paint'
        import {
          CBWeatherChart,
          CBWeatherIconDataArtist,
          CBValidDataArtist,
          CBNotNegativeDataArtist,
          CBTxAreaPaint,
          CBPrecpBarPaint,
          CBWSDataArtist,
          CBWDDataArtist,
          CBWSWDDataArtist,
          CBWSCirclePaint,
        } from '@/libs/cb-chart/cb_weather_chart'

        export default {
          setup() {
            // --- 提供格式為 x, y 的資料
            let datasets = {
              wx: [],
              tx: [],
              precp: [],
              wind: [],
            }

            let dt_from = new Date().zero_hour()
            for (
              let dtime = dt_from;
              dtime < dt_from.addHours(12);
              dtime = dtime.addHours(1)
            ) {
              // wx
              datasets.wx.push({
                x: dtime,
                y: ['晴天', '雨天', '陰天', '多雲', '晴時多雲', '陰短暫雨', '不明'][
                  Math.floor(Math.random() * 7)
                ],
              })

              // tx
              datasets.tx.push({
                x: dtime,
                y: Math.random() * 30,
              })

              // precp
              datasets.precp.push({
                x: dtime,
                y: Math.random() * 20,
              })

              // wind
              datasets.wind.push({
                x: dtime,
                y: {
                  ws: Math.random() * 10,
                  wd: Math.random() * 360,
                },
              })
            }

            // --- chart
            let chart = null
            nextTick(() => {
              chart = new CBWeatherChart(
                'weather_chart',
                {
                  wx: new CBWeatherIconDataArtist(datasets.wx, new CBIconChartPaint()),
                  tx: new CBValidDataArtist(datasets.tx, new CBTxAreaPaint()),
                  precp: new CBNotNegativeDataArtist(datasets.precp, new CBPrecpBarPaint()),
                  ws: new CBWSDataArtist(
                    datasets.wind,
                    new CBLineChartPaint({
                      color: 'rgb(56, 185, 160)',
                    })
                  ),
                  wd: new CBWDDataArtist(datasets.wind, new CBIconChartPaint()),
                  wswd: new CBWSWDDataArtist(datasets.wind, [
                    new CBIconChartPaint(),
                    new CBWSCirclePaint(),
                  ]),
                },
                {
                  axes_y: {
                    wx: {
                      canvas_range: 20,
                    },
                    tx: {
                      canvas_range: [100, 35],
                      format: (v) => v.toFixed(1) + '°C',
                    },
                    precp: {
                      data_range: [0, 10],
                      canvas_range: [150, 110],
                      format: (v) => v.toFixed(1) + 'mm',
                    },
                    ws: {
                      canvas_range: [210, 160],
                      format: (v) => v.toFixed(1) + 'm/s',
                    },
                    wd: {
                      canvas_range: 230,
                      format: (v) => v.toFixed(1) + '°',
                    },
                    wswd: {
                      canvas_range: 270,
                      format: (v) => v.toFixed(1) + 'm/s',
                    },
                  },
                  tooltip_required: true,
                  night_bg_required: true,
                  canvas_margin: 25,
                }
              )
            })

            onBeforeUnmount(() => {
              chart.destroy()
            })
          },
        }
      <\/script>
    `)

    return {
      code_weather,
    }
  },
}
</script>

<style></style>
