<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <anchor-aside :anchor_list="anchor_list"> </anchor-aside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <section id="CBAxisPaint" class="mt-12 mb-6">
        <h1>CBAxisPaint</h1>
        <p>軸的呈現方式。</p>
        <p>
          CBAxisPaint 本身是抽象介面，有實際在用的是繼承出來的 CBAxisXPaint,
          CBAxisYPaint 等等如下方所示。
        </p>
      </section>

      <section id="axis_methods">
        <h3>Methods</h3>
        <p class="my-2">常用 methods。</p>
        <props-table
          :type="'Method'"
          :default_required="false"
          class="border rounded-lg"
        >
          <tr class="border-t">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <code>draw</code>
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
              將刻度畫上畫布。
              <br />
              通常會用來擴充成可以畫各種不同的軸。
            </td>
          </tr>
          <tr class="border-t">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <code>place_tick_value</code>
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
              擺放單一個刻度。
              <br />
              通常會用來擴充成可以微調每個刻度的樣式。
            </td>
          </tr>
        </props-table>
      </section>

      <section id="CBAxisXPaint" class="mt-12 mb-6">
        <h2>CBAxisXPaint</h2>
        <p>用來畫水平 x 軸。</p>
      </section>

      <section id="x_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBAxisXPaint } from '@/libs/cb-chart/cb_axis_paint.js'

new CBAxisXPaint(options)"
          >
          </code-block>
          <props-table
            :type="'Parameter'"
            :default_required="false"
            class="border rounded-lg"
          >
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>options</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                <code>Object</code>
                <br />
                說明如下。
              </td>
            </tr>
          </props-table>
        </div>
      </section>

      <section id="x_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <div>
          <demo-block id="x_chart" :code="x_options_set.demo_code">
            <x-demo
              :container_id="x_options_set.value_options.container_id"
              :tick_values="valid_x_tick_values"
              :tick_interval="x_options_set.value_options.tick_interval"
              :number_of_intervals="
                x_options_set.value_options.number_of_intervals
              "
              :text_align="x_options_set.value_options.text_align"
            ></x-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>container_id</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      x_options_set.display_options.container_id
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    要用來畫刻度的元件的 id。若不給，或該元件不存在，預設會畫在
                    canvas container。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="x_options_set.value_options.container_id"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>tick_values</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Array</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ x_options_set.display_options.tick_values }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    想要顯示的刻度值陣列。若不給，預設會用下面幾項自動生成。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="x_options_set.value_options.tick_values"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>tick_interval</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      x_options_set.display_options.tick_interval
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    刻度之間的間隔。
                    <br />
                    若不給（且也沒提供 number_of_intervals,
                    tick_filter），預設是 1，若使用 CBTimeChart 則預設為
                    60（一小時）。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="x_options_set.value_options.tick_interval"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>number_of_intervals</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      x_options_set.display_options.number_of_intervals
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    需要有幾個 tick 間隔，會得到 number_of_intervals+1 個 tick。
                    <br />
                    若不給（且也沒提供 tick_filter），預設為 5。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="x_options_set.value_options.number_of_intervals"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>tick_filter</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Function</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ x_options_set.display_options.tick_filter }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    用 tick_interval 預設值自動生成 ticks
                    數組後，再對此數組過濾的過濾函數。
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>text_align</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ x_options_set.display_options.text_align }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    刻度要往哪裡對齊。預設會讓 style.bottom=0px，可填 'top' 使其
                    style.top=0px。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="x_options_set.value_options.text_align"
                    />
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>

      <section id="CBAxisYPaint" class="mt-12 mb-6">
        <h2>CBAxisYPaint</h2>
        <p>用來畫垂直 y 軸。</p>
      </section>

      <section id="y_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBAxisYPaint } from '@/libs/cb-chart/cb_axis_paint.js'

new CBAxisYPaint(options)"
          >
          </code-block>
          <props-table
            :type="'Parameter'"
            :default_required="false"
            class="border rounded-lg"
          >
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>options</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                <code>Object</code>
                <br />
                說明如下。
              </td>
            </tr>
          </props-table>
        </div>
      </section>

      <section id="y_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <div>
          <demo-block id="y_chart" :code="y_options_set.demo_code">
            <y-demo
              :container_id="y_options_set.value_options.container_id"
              :tick_values="valid_y_tick_values"
              :tick_interval="y_options_set.value_options.tick_interval"
              :number_of_intervals="
                y_options_set.value_options.number_of_intervals
              "
              :text_align="y_options_set.value_options.text_align"
            ></y-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>container_id</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      y_options_set.display_options.container_id
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    要用來畫刻度的元件的 id。若不給，或該元件不存在，預設會畫在
                    canvas container。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="y_options_set.value_options.container_id"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>tick_values</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Array</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ y_options_set.display_options.tick_values }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    想要顯示的刻度值陣列。若不給，預設會用下面幾項自動生成。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="y_options_set.value_options.tick_values"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>tick_interval</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      y_options_set.display_options.tick_interval
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    刻度之間的間隔。
                    <br />
                    若不給（且也沒提供 number_of_intervals,
                    tick_filter），預設是 1。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="y_options_set.value_options.tick_interval"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>number_of_intervals</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      y_options_set.display_options.number_of_intervals
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    需要有幾個 tick 間隔，會得到 number_of_intervals+1 個 tick。
                    <br />
                    若不給（且也沒提供 tick_filter），預設為 5。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="y_options_set.value_options.number_of_intervals"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>tick_filter</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Function</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ y_options_set.display_options.tick_filter }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    用 tick_interval 預設值自動生成 ticks
                    數組後，再對此數組過濾的過濾函數。
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>text_align</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ y_options_set.display_options.text_align }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    刻度要往哪裡對齊。預設無，可填 'left' 使其 style.left=5px 或
                    'right' 使其 style.right=5px。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="y_options_set.value_options.text_align"
                    />
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import PropsTable from '../../../components/PropsTable.vue'
import CodeBlock from '../../../components/CodeBlock.vue'
import AnchorAside from '../../../components/AnchorAside.vue'
import DemoBlock from '../../../components/DemoBlock.vue'
import XDemo from '../../../components/chart_demo/AxisPaint/XDemo.vue'
import YDemo from '../../../components/chart_demo/AxisPaint/YDemo.vue'
import { useDisplayOptions } from '../../../compositions/display_options'

export default {
  components: {
    Layout,
    PropsTable,
    CodeBlock,
    AnchorAside,
    DemoBlock,
    XDemo,
    YDemo,
  },

  setup() {
    const anchor_list = [
      {
        text: 'CBAxisPaint',
        id: 'CBAxisPaint',
        children: [
          {
            text: 'Methods',
            id: 'axis_methods',
          },
        ],
      },
      {
        text: 'CBAxisXPaint',
        id: 'CBAxisXPaint',
        children: [
          {
            text: 'Creation',
            id: 'x_creation',
          },
          {
            text: 'Options',
            id: 'x_options',
          },
        ],
      },
      {
        text: 'CBAxisYPaint',
        id: 'CBAxisYPaint',
        children: [
          {
            text: 'Creation',
            id: 'y_creation',
          },
          {
            text: 'Options',
            id: 'y_options',
          },
        ],
      },
    ]

    // x
    const x_options_set = useDisplayOptions(
      {
        container_id: 'x_chart_axis_x',
        tick_values: '',
        tick_interval: '',
        number_of_intervals: '',
        tick_filter: '',
        text_align: '',
      },
      (code_options) => {
        return `new CBAxisXPaint({${code_options}})`
      }
    )
    x_options_set.value_options.text_align = 'bottom'
    const valid_x_tick_values = computed(() => {
      try {
        return JSON.parse(x_options_set.value_options.tick_values)
      } catch (e) {}
    })

    // y
    const y_options_set = useDisplayOptions(
      {
        container_id: 'y_chart_axis_y',
        tick_values: '',
        tick_interval: '',
        number_of_intervals: '',
        tick_filter: '',
        text_align: '',
      },
      (code_options) => {
        return `new CBAxisYPaint({${code_options}})`
      }
    )
    const valid_y_tick_values = computed(() => {
      try {
        return JSON.parse(y_options_set.value_options.tick_values)
      } catch (e) {}
    })

    return {
      anchor_list,
      x_options_set,
      valid_x_tick_values,
      y_options_set,
      valid_y_tick_values,
    }
  },
}
</script>

<style></style>
