<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <anchor-aside :anchor_list="anchor_list"> </anchor-aside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <section id="CBChart" class="mt-12 mb-6">
        <h1>CBChart</h1>
        <p>生成圖表的入口。</p>
        <p>只要 x, y 軸有照順序排列的特性即可使用。</p>
      </section>

      <section id="chart_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBChart } from '@/libs/cb-chart/cb_chart.js'

new CBChart(chart_id, data_artists, options)"
          >
          </code-block>
          <props-table :type="'Parameter'" class="border rounded-lg">
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>chart_id</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>String</code>
              </td>
              <td></td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                必填。
                <br />
                目標 DOM 元件的 id。
              </td>
            </tr>
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>data_artists</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Object</code>
              </td>
              <td></td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                必填。
                <br />
                模組中的
                <router-link
                  :to="{ name: 'CBDataArtistPage' }"
                  class="text-sky-600 hover:text-sky-800"
                >
                  CBDataArtist
                </router-link>
                物件，或是多個 CBDataArtist 物件組成、帶有鍵值的物件
                <br />
                例如：
                <code
                  >new CBChartDataArtist(...) 或 { elem1: new
                  CBChartDataArtist(...) }</code
                >
              </td>
            </tr>
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>options</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Object</code>
              </td>
              <td></td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                說明如下。
              </td>
            </tr>
          </props-table>
        </div>
      </section>

      <section id="chart_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <div>
          <demo-block id="cb_chart" :code="chart_options_set.demo_code">
            <chart-demo
              :clip_size="valid_clip_size"
              :canvas_size="valid_canvas_size"
              :canvas_margin="chart_options_set.value_options.canvas_margin"
              :tooltip_required="
                chart_options_set.value_options.tooltip_required
              "
              :horizontal_drag_required="
                chart_options_set.value_options.horizontal_drag_required
              "
              :x_reference_line_required="
                chart_options_set.value_options.x_reference_line_required
              "
              :y_reference_line_required="
                chart_options_set.value_options.y_reference_line_required
              "
              :clip_class="chart_options_set.value_options.clip_class"
              :selected_block_x="
                chart_options_set.value_options.selected_block_x
              "
            ></chart-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>clip_size</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Object</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      chart_options_set.display_options.clip_size
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    控制圖表外觀寬高，若不填則預設取外層元件的寬高。
                    <br />
                    通常不需設定，由外層元件的樣式控制即可。
                    <br />
                    （展示中加了框線來標示 clip 的範圍。）
                    <br />
                    例：<code>{ "width": 400, "height": 300 }</code>
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="chart_options_set.value_options.clip_size"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>canvas_size</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Object</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      chart_options_set.display_options.canvas_size
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    控制圖表內容寬高，超出 clip 尺寸的部分可滾動，若不填則預設取
                    clip 的寬高。
                    <br />
                    例：<code>{ "width": 1000, "height": 300 }</code>
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="chart_options_set.value_options.canvas_size"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>canvas_margin</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      chart_options_set.display_options.canvas_margin
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    canvas
                    上下左右的邊緣寬度，是為了美觀、且讓圖表邊緣內容不被切掉。若不需要可設為
                    0。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="chart_options_set.value_options.canvas_margin"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>tooltip_required</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Boolean</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      chart_options_set.display_options.tooltip_required
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    是否在 hover 時出現數值的 tooltip。
                    <br />
                    <cb-checkbox
                      v-model="chart_options_set.value_options.tooltip_required"
                      text=""
                    ></cb-checkbox>
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>horizontal_drag_required</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Boolean</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      chart_options_set.display_options.horizontal_drag_required
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    因為預設會將圖表的 scrollbar
                    隱藏，考慮到滑鼠使用者，而加上的水平拖曳功能。
                    <br />
                    <cb-checkbox
                      v-model="
                        chart_options_set.value_options.horizontal_drag_required
                      "
                      text=""
                    ></cb-checkbox>
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>x_reference_line_required</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Boolean</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      chart_options_set.display_options
                        .x_reference_line_required
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    是否要加上垂直參考格線。
                    <br />
                    <cb-checkbox
                      v-model="
                        chart_options_set.value_options
                          .x_reference_line_required
                      "
                      text=""
                    ></cb-checkbox>
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>y_reference_line_required</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Boolean</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      chart_options_set.display_options
                        .y_reference_line_required
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    是否要加上水平參考格線。
                    <br />
                    <cb-checkbox
                      v-model="
                        chart_options_set.value_options
                          .y_reference_line_required
                      "
                      text=""
                    ></cb-checkbox>
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>clip_class</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>''</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    加在 clip 元件
                    class。偶爾會有特殊需求（例如想禁止圖表滾動）時可以使用。
                    <br />
                    （這邊加了框線來標示 clip 的範圍。）
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="chart_options_set.value_options.clip_class"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>selected_block_x</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    需要亮起來的區塊 x 值。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="chart_options_set.value_options.selected_block_x"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>axis_x</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Object</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    說明如下。
                  </td>
                </tr>
                <tr class="border-t border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>axes_y</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Object</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    說明如下。
                  </td>
                </tr>
              </props-table>

              <h3 class="px-4"><code>axis_x</code></h3>
              <p class="px-4 pb-2 text-sm">
                axis_x 會是一個物件，其中的 properties 如下：
              </p>
              <props-table :type="'Option'" class="border-t">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>data_range</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Array | String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>'auto'</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    x 軸的資料範圍。若為 'auto'，會拿第一筆和最後一筆資料的 x
                    當範圍。
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>canvas_range</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Array | Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    x 軸的畫布範圍。
                    <br />
                    通常是<code>[左緣, 右緣]</code>的順序，即第一個數字會較小。
                    <br />
                    若不給，預設是用整個 canvas_size 範圍扣除 canvas_margin。
                  </td>
                </tr>
                <tr class="border-t border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>paint</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Object</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <router-link
                      :to="{ name: 'CBAxisPaintPage' }"
                      class="text-sky-600 hover:text-sky-800"
                    >
                      CBAxisPaint
                    </router-link>
                    物件，若需要顯示 x 軸才需提供。
                  </td>
                </tr>
                <tr class="border-t border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>canvas_margin_x</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    canvas 左右的邊緣寬度，若不給預設用 options.canvas_margin
                  </td>
                </tr>
              </props-table>

              <h3 class="px-4"><code>axes_y[elem]</code></h3>
              <p class="px-4 pb-2 text-sm">
                axes_y 會是一個由多個 axis_y options
                組成的物件，代表每個子圖表的設定，其鍵值需和 data_artists
                帶的鍵值對應。其中的 axis_y options properties 如下：
              </p>
              <props-table :type="'Option'" class="border-t">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>data_range</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Array</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>'auto'</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    子圖表 y 軸的資料範圍。若為 'auto'，會由
                    <router-link
                      :to="{ name: 'CBDataArtistPage' }"
                      class="text-sky-600 hover:text-sky-800"
                    >
                      CBDataArtist
                    </router-link>
                    自動生成。
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>canvas_range</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Array | Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    子圖表 y 軸的畫布範圍。
                    <br />
                    通常是<code>[下緣, 上緣]</code>的順序，即第一個數字會較大。
                    <br />
                    若不給，預設是用整個 canvas_size 範圍扣除
                    canvas_margin。也可以給一數值來畫固定高度的圖表。
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>paint</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Object</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <router-link
                      :to="{ name: 'CBAxisPaintPage' }"
                      class="text-sky-600 hover:text-sky-800"
                    >
                      CBAxisPaint
                    </router-link>
                    物件，若需要顯示 y 軸才需提供。
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>format</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Function</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>(v) => v</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    tooltip 顯示的 y 值格式。
                  </td>
                </tr>
                <tr class="border-t border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>canvas_margin_y</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code></code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    canvas 上下的邊緣寬度，若不給預設用 options.canvas_margin
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>

      <section id="chart_methods">
        <h3>Methods</h3>
        <p class="my-2">常用 methods。</p>
        <props-table
          :type="'Method'"
          :default_required="false"
          class="border rounded-lg"
        >
          <tr class="border-t">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <code>destroy</code>
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
              清除圖表。
              <br />
              每次生成圖表都要記得也要一併加上清除圖表的地方。
            </td>
          </tr>
        </props-table>
      </section>

      <section id="CBTimeChart" class="mb-6">
        <h2>CBTimeChart</h2>
        <p>由 CBChart 擴充出的，當資料的 x 為時間物件時可以使用。</p>
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBTimeChart } from '@/libs/cb-chart/cb_chart.js'

new CBTimeChart(chart_id, data_artists, options)"
          >
          </code-block>
          <props-table
            :type="'Parameter'"
            :default_required="false"
            class="border rounded-lg"
          >
            <tr class="border-t">
              <td
                colspan="2"
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-center"
              >
                同 CBChart
              </td>
            </tr>
          </props-table>
        </div>
      </section>

      <section>
        <h3>Options</h3>
        <div>
          <demo-block id="time_chart" :code="code_time_chart">
            <time-chart-demo></time-chart-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td
                    colspan="4"
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-center"
                  >
                    同 CBChart
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import PropsTable from '../../../components/PropsTable.vue'
import CodeBlock from '../../../components/CodeBlock.vue'
import AnchorAside from '../../../components/AnchorAside.vue'
import DemoBlock from '../../../components/DemoBlock.vue'
import ChartDemo from '../../../components/chart_demo/CBChart/ChartDemo.vue'
import TimeChartDemo from '../../../components/chart_demo/CBChart/TimeChartDemo.vue'
import { useDisplayOptions } from '../../../compositions/display_options'

import { html_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    PropsTable,
    CodeBlock,
    AnchorAside,
    DemoBlock,
    ChartDemo,
    TimeChartDemo,
  },

  setup() {
    const anchor_list = [
      {
        text: 'CBChart',
        id: 'CBChart',
        children: [
          {
            text: 'Creation',
            id: 'chart_creation',
          },
          {
            text: 'Options',
            id: 'chart_options',
          },
          {
            text: 'Methods',
            id: 'chart_methods',
          },
        ],
      },
      {
        text: 'CBTimeChart',
        id: 'CBTimeChart',
      },
    ]

    // chart
    const chart_options_set = useDisplayOptions(
      {
        clip_size: '{}',
        canvas_size: '{}',
        canvas_margin: 16,
        tooltip_required: false,
        horizontal_drag_required: true,
        x_reference_line_required: false,
        y_reference_line_required: false,
        clip_class: '',
        selected_block_x: null,
      },
      (code_options) => {
        return `
        new CBChart(
          chart_id,
          {
            elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
          },
          {
          axis_x: {
            paint: new CBAxisXPaint({
              text_align: 'bottom',
            }),
          },
          axes_y: {
            elem1: {
              paint: new CBAxisYPaint(),
            },
          }, ${code_options}
          }
        )
      `
      }
    )
    chart_options_set.value_options['clip_class'] = 'border'
    const valid_clip_size = computed(() => {
      try {
        return JSON.parse(chart_options_set.value_options.clip_size)
      } catch (e) {}
    })
    const valid_canvas_size = computed(() => {
      try {
        return JSON.parse(chart_options_set.value_options.canvas_size)
      } catch (e) {}
    })

    // time chart
    const code_time_chart = html_beautify(`
        <template>
          <div style="width: 100%; height: 100px" id="time_chart"></div>
        </template>

        <script>
          import { CBTimeChart } from '@/libs/cb-chart/cb_chart.js'
          import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
          import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'
          import { CBAxisXPaint, CBAxisYPaint } from '@/libs/cb-chart/cb_axis_paint.js'
          import { nextTick, onBeforeUnmount } from 'vue'

          export default {
            setup() {
              let data = []
              for (
                let dtime = new Date().zero_hour();
                dtime < new Date().addDays(1);
                dtime = dtime.addHours(1)
              ) {
                data.push({
                  x: dtime,
                  y: Math.random(),
                })
              }

              const chart_id = 'time_chart'
              let chart = null
              nextTick(() => {
                chart = new CBTimeChart(
                  chart_id,
                  {
                    elem1: new CBChartDataArtist(data, new CBLineChartPaint()),
                  },
                  {
                    axis_x: {
                      paint: new CBAxisXPaint({
                        tick_format: (v) => v.strftime('%H:%M'),
                        text_align: 'bottom',
                      }),
                    },
                    axes_y: {
                      elem1: {
                        paint: new CBAxisYPaint(),
                      },
                    },
                  }
                )
              })

              onBeforeUnmount(() => {
                chart.destroy()
              })
            },
          }
        <\/script>
      `)

    return {
      anchor_list,
      chart_options_set,
      valid_clip_size,
      valid_canvas_size,
      code_time_chart,
    }
  },
}
</script>

<style></style>
