<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <anchor-aside :anchor_list="anchor_list"> </anchor-aside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <section id="CBChartPaint" class="mt-12 mb-6">
        <h1>CBChartPaint</h1>
        <p>圖表類型、呈現的形式。</p>
        <p>
          CBChartPaint 本身是抽象介面，有實際在用的是繼承出來的
          CBLineChartPaint, CBAreaChartPaint 等等如下方所示。
        </p>
      </section>

      <section id="paint_methods">
        <h3>Methods</h3>
        <p class="my-2">常用 methods。</p>
        <props-table
          :type="'Method'"
          :default_required="false"
          class="border rounded-lg"
        >
          <tr class="border-t">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <code>draw</code>
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
              將資料畫上畫布。
              <br />
              通常會用來擴充成可以畫各種不同的圖表。
            </td>
          </tr>
        </props-table>
      </section>

      <section id="CBLineChartPaint" class="mt-12 mb-6">
        <h2>CBLineChartPaint</h2>
        <p>折線圖。</p>
      </section>

      <section id="line_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'

new CBLineChartPaint(options)"
          >
          </code-block>
        </div>
      </section>

      <section id="line_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <div>
          <demo-block id="line_chart" :code="line_options_set.demo_code">
            <line-demo
              :color="line_options_set.value_options.color"
              :opacity="line_options_set.value_options.opacity"
              :line_width="line_options_set.value_options.line_width"
              :line_dash="valid_line_dash"
            ></line-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>color</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ line_options_set.display_options.color }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    線的顏色。
                    <br />
                    例：<code>'rgb(121, 199, 191)'</code>
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="line_options_set.value_options.color"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>opacity</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ line_options_set.display_options.opacity }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    線的透明度，值為 0 ~ 1 之間。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="line_options_set.value_options.opacity"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>line_width</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      line_options_set.display_options.line_width
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    線的寬度。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="line_options_set.value_options.line_width"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>line_dash</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Array</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      line_options_set.display_options.line_dash
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    線的虛線樣式。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="line_options_set.value_options.line_dash"
                    />
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>

      <section id="CBAreaChartPaint" class="mt-12 mb-6">
        <h2>CBAreaChartPaint</h2>
        <p>下方填色的折線圖。</p>
      </section>

      <section id="area_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBAreaChartPaint } from '@/libs/cb-chart/cb_chart_paint'

new CBAreaChartPaint(options)"
          >
          </code-block>
        </div>
      </section>

      <section id="area_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <div>
          <demo-block id="area_chart" :code="area_options_set.demo_code">
            <area-demo
              :opacity="area_options_set.value_options.opacity"
              :color_table="valid_color_table"
              :fill_style="area_options_set.value_options.fill_style"
              :fade_required="area_options_set.value_options.fade_required"
            ></area-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>opacity</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ area_options_set.display_options.opacity }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    填色透明度。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="area_options_set.value_options.opacity"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>color_table</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      area_options_set.display_options.color_table
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    顏色對照表。若不給，會使用下方的 fill_style。
                    <br />
                    預設格式是一個 key 為數值、value 為顏色的 Object，若 value
                    為逗號間隔數字，會當作 rgb。
                    <br />
                    <input
                      type="text"
                      class="input--base w-full my-2"
                      v-model="area_options_set.value_options.color_table"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>fill_style</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      area_options_set.display_options.fill_style
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    單一填色。若不給，canvas 預設是灰色。
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="area_options_set.value_options.fill_style"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>fade_required</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Boolean</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      area_options_set.display_options.fade_required
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    需不需要向下淡出。
                    <b></b>
                    （若需要，顏色需為 'r, g, b' 的逗號間隔數字。）
                    <br />
                    <cb-checkbox
                      v-model="area_options_set.value_options.fade_required"
                      text=""
                    ></cb-checkbox>
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>

      <section id="CBBarChartPaint" class="mt-12 mb-6">
        <h2>CBBarChartPaint</h2>
        <p>柱狀圖。</p>
      </section>

      <section id="bar_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBBarChartPaint } from '@/libs/cb-chart/cb_chart_paint'

new CBBarChartPaint(options)"
          >
          </code-block>
        </div>
      </section>

      <section id="bar_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <div>
          <demo-block id="bar_chart" :code="bar_options_set.demo_code">
            <bar-demo
              :opacity="bar_options_set.value_options.opacity"
              :bar_width="bar_options_set.value_options.bar_width"
              :fill="bar_options_set.value_options.fill"
            ></bar-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>bar_width</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ bar_options_set.display_options.bar_width }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    柱狀寬度。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="bar_options_set.value_options.bar_width"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>fill</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ bar_options_set.display_options.fill }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    填色。
                    <br />
                    例：<code>'rgb(121, 199, 191)'</code>
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="bar_options_set.value_options.fill"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>opacity</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ bar_options_set.display_options.opacity }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    填色透明度。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="bar_options_set.value_options.opacity"
                    />
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>

      <section id="CBIconChartPaint" class="mt-12 mb-6">
        <h2>CBIconChartPaint</h2>
        <p>
          顯示圖片的圖表，DataArtist 需為
          <router-link
            :to="{ name: 'CBDataArtistPage', hash: '#CBIconDataArtist' }"
            class="text-sky-600 hover:text-sky-800"
          >
            CBIconDataArtist
          </router-link>
          或其擴充物件。
        </p>
      </section>

      <section id="icon_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBIconChartPaint } from '@/libs/cb-chart/cb_chart_paint'

new CBIconChartPaint(options)"
          >
          </code-block>
        </div>
      </section>

      <section id="icon_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <div>
          <demo-block id="icon_chart" :code="icon_options_set.demo_code">
            <icon-demo
              :icon_size="icon_options_set.value_options.icon_size"
            ></icon-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>icon_size</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Number</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      icon_options_set.display_options.icon_size
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    icon 寬度。
                    <br />
                    <input
                      type="number"
                      class="input--base my-2"
                      v-model="icon_options_set.value_options.icon_size"
                    />
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>

      <section id="CBTextChartPaint" class="mt-12 mb-6">
        <h2>CBTextChartPaint</h2>
        <p>
          顯示文字的圖表。
          <br />
          關於文字垂直位置：若資料不為數字，預設會畫在 canvas_range
          中間；若資料為數字，預設會隨資料大小在不同位置，若此時想固定垂直位置，可將
          canvas_range 設為單一數值。
          <br />
          （canvas_range 設定：
          <router-link
            :to="{ name: 'CBChartPage' }"
            class="text-sky-600 hover:text-sky-800"
          >
            CBChart
          </router-link>
          options -> axes_y -> [elem name] -> canvas_range）
        </p>
      </section>

      <section id="text_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBTextChartPaint } from '@/libs/cb-chart/cb_chart_paint'

new CBTextChartPaint(options)"
          >
          </code-block>
        </div>
      </section>

      <section id="text_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <div>
          <demo-block id="text_chart" :code="text_options_set.demo_code">
            <text-demo
              :class_name="text_options_set.value_options.class_name"
            ></text-demo>
            <template v-slot:props_table>
              <props-table :type="'Option'">
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>class_name</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>String</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{
                      text_options_set.display_options.class_name
                    }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    文字樣式。
                    <br />
                    例：'cb_chart-text_div text-red-500'
                    <br />
                    <input
                      type="text"
                      class="input--base my-2"
                      v-model="text_options_set.value_options.class_name"
                    />
                  </td>
                </tr>
                <tr class="border-t">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>format</code>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                    <code>Function</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    <code>{{ text_options_set.display_options.format }}</code>
                  </td>
                  <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                    文字格式。
                  </td>
                </tr>
              </props-table>
            </template>
          </demo-block>
        </div>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed, reactive } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import PropsTable from '../../../components/PropsTable.vue'
import CodeBlock from '../../../components/CodeBlock.vue'
import AnchorAside from '../../../components/AnchorAside.vue'
import DemoBlock from '../../../components/DemoBlock.vue'
import LineDemo from '../../../components/chart_demo/ChartPaint/LineDemo.vue'
import IconDemo from '../../../components/chart_demo/ChartPaint/IconDemo.vue'
import TextDemo from '../../../components/chart_demo/ChartPaint/TextDemo.vue'
import AreaDemo from '../../../components/chart_demo/ChartPaint/AreaDemo.vue'
import BarDemo from '../../../components/chart_demo/ChartPaint/BarDemo.vue'
import { useDisplayOptions } from '../../../compositions/display_options'

export default {
  components: {
    Layout,
    PropsTable,
    CodeBlock,
    AnchorAside,
    DemoBlock,
    LineDemo,
    AreaDemo,
    BarDemo,
    IconDemo,
    TextDemo,
  },

  setup() {
    const anchor_list = [
      {
        text: 'CBChartPaint',
        id: 'CBChartPaint',
        children: [
          {
            text: 'Methods',
            id: 'paint_methods',
          },
        ],
      },
      {
        text: 'CBLineChartPaint',
        id: 'CBLineChartPaint',
        children: [
          {
            text: 'Creation',
            id: 'line_creation',
          },
          {
            text: 'Options',
            id: 'line_options',
          },
        ],
      },
      {
        text: 'CBAreaChartPaint',
        id: 'CBAreaChartPaint',
        children: [
          {
            text: 'Creation',
            id: 'area_creation',
          },
          {
            text: 'Options',
            id: 'area_options',
          },
        ],
      },
      {
        text: 'CBBarChartPaint',
        id: 'CBBarChartPaint',
        children: [
          {
            text: 'Creation',
            id: 'bar_creation',
          },
          {
            text: 'Options',
            id: 'bar_options',
          },
        ],
      },
      {
        text: 'CBIconChartPaint',
        id: 'CBIconChartPaint',
        children: [
          {
            text: 'Creation',
            id: 'icon_creation',
          },
          {
            text: 'Options',
            id: 'icon_options',
          },
        ],
      },
      {
        text: 'CBTextChartPaint',
        id: 'CBTextChartPaint',
        children: [
          {
            text: 'Creation',
            id: 'text_creation',
          },
          {
            text: 'Options',
            id: 'text_options',
          },
        ],
      },
    ]

    // line
    const line_options_set = useDisplayOptions(
      {
        color: 'darkgray',
        opacity: 1,
        line_width: 1,
        line_dash: '[]',
      },
      (code_options) => {
        return `new CBLineChartPaint({${code_options}})`
      }
    )
    const valid_line_dash = computed(() => {
      try {
        return JSON.parse(line_options_set.value_options.line_dash)
      } catch (e) {}
    })

    // area
    const area_options_set = useDisplayOptions(
      {
        opacity: 0.5,
        color_table: '',
        fill_style: '',
        fade_required: false,
      },
      (code_options) => {
        return `new CBAreaChartPaint({${code_options}})`
      }
    )
    area_options_set.value_options[
      'color_table'
    ] = `{ "25": "pink", "15": "skyblue" }`
    const valid_color_table = computed(() => {
      try {
        return JSON.parse(area_options_set.value_options.color_table)
      } catch (e) {}
    })

    // bar
    const bar_options_set = useDisplayOptions(
      {
        bar_width: 15,
        fill: 'darkgray',
        opacity: 1,
      },
      (code_options) => {
        return `new CBBarChartPaint({${code_options}})`
      }
    )

    // icon
    const icon_options_set = useDisplayOptions(
      {
        icon_size: 30,
      },
      (code_options) => {
        return `new CBIconChartPaint({${code_options}})`
      }
    )

    // text
    const text_options_set = useDisplayOptions(
      {
        class_name: 'cb_chart-text_div',
        format: '(v) => v',
      },
      (code_options) => {
        return `new CBTextChartPaint({${code_options}})`
      }
    )

    return {
      anchor_list,
      line_options_set,
      valid_line_dash,
      area_options_set,
      bar_options_set,
      valid_color_table,
      icon_options_set,
      text_options_set,
    }
  },
}
</script>

<style></style>
