<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <anchor-aside :anchor_list="anchor_list"> </anchor-aside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <section id="CBChartDataArtist" class="mb-6">
        <h1>CBChartDataArtist</h1>
        <p>負責圖表資料的處理。</p>
      </section>

      <section id="creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'

new CBChartDataArtist(dataset, paint, options)"
          >
          </code-block>
          <props-table
            :type="'Parameter'"
            :default_required="false"
            class="border rounded-lg"
          >
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>dataset</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Array</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                必填。
                <br />
                通常是帶有 x, y 物件的資料陣列。格式：[{x, y}...]。
                <br />
                或是用其他格式，並擴充 make_drawing_data() 來做轉換。
              </td>
            </tr>
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>paint</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Object | Array</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                模組中的
                <router-link
                  :to="{ name: 'CBChartPaintPage' }"
                  class="text-sky-600 hover:text-sky-800"
                >
                  CBChartPaint
                </router-link>
                物件。為資料呈現的方式。
                <br />
                也可以是 CBChartPaint 組成的陣列，代表用同一組資料畫多種圖表。
                <br />
                例如：
                <code>new CBLineChartPaint()</code>
              </td>
            </tr>
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>options</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Object</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                說明如下。
              </td>
            </tr>
          </props-table>
        </div>
      </section>

      <section id="options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <demo-block id="data_artist_chart" :code="code">
          <data-artist-demo
            :base_number="options.base_number"
            :min_buffer_required="options.min_buffer_required"
            :max_buffer_required="options.max_buffer_required"
            :buffer_required="options.buffer_required"
          ></data-artist-demo>
          <template v-slot:props_table>
            <props-table :type="'Option'">
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>base_number</code>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Number</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>10</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  （自動計算 y 軸的範圍時所需的參數。）
                  <br />
                  以此數為基底，找到大於資料最大值且最接近此數的此數倍數，以及小於資料最小值且最接近此數的此數倍數。
                  <br />
                  <input
                    type="number"
                    class="input--base my-2"
                    v-model="options.base_number"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>min_buffer_required</code>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  （自動計算 y 軸的範圍時所需的參數。）
                  <br />
                  需不需要有最小值的緩衝範圍。
                  <br />
                  若設為真，會將 y 軸最小值再多扣掉 base_number。
                  <br />
                  <cb-checkbox
                    v-model="options.min_buffer_required"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>max_buffer_required</code>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  （自動計算 y 軸的範圍時所需的參數。）
                  <br />
                  需不需要有最大值的緩衝範圍。
                  <br />
                  若設為真，會將 y 軸最大值再多加上 base_number。
                  <br />
                  <cb-checkbox
                    v-model="options.max_buffer_required"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>buffer_required</code>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  一併將前兩項開啟。
                  <br />
                  <cb-checkbox
                    v-model="options.buffer_required"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
            </props-table>
          </template>
        </demo-block>
      </section>

      <section id="methods">
        <h3>Methods</h3>
        <p class="my-2">常用 methods。</p>
        <props-table
          :type="'Method'"
          :default_required="false"
          class="border rounded-lg"
        >
          <tr class="border-t">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <code>make_drawing_data</code>
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
              用來將原始資料轉成圖表需要的資料。通常會擴充來替圖表資料做篩選、或是讓資料帶著更多資訊。
              <br />
              例如過濾無效值，或是部分圖表如風速風向需要不只一個 y 值。
            </td>
          </tr>
        </props-table>
      </section>

      <section id="CBIconDataArtist" class="mb-6">
        <h2>CBIconDataArtist</h2>
        <p>資料為圖片時可以使用。</p>
      </section>

      <section id="icon_creation" class="mb-6">
        <h3>Creation</h3>
        <div>
          <code-block
            code="import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'

new CBIconDataArtist(dataset, paint, options)"
          >
          </code-block>
          <props-table
            :type="'Parameter'"
            :default_required="false"
            class="border rounded-lg"
          >
            <tr class="border-t">
              <td
                colspan="2"
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-center"
              >
                同 CBChart
              </td>
            </tr>
          </props-table>
        </div>
      </section>

      <section id="icon_options">
        <h3>
          Options
          <span class="text-sm font-normal text-gray-400 ml-4"
            >修改了展示設定後請點「更新圖表」</span
          >
        </h3>
        <demo-block id="data_artist_chart" :code="code_for_icon">
          <icon-data-artist-demo
            :icon_table="valid_icon_table"
          ></icon-data-artist-demo>
          <template v-slot:props_table>
            <props-table :type="'Option'">
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>icon_table</code>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Object</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  必填。
                  <br />
                  icon 對照表，預設格式是一個 key 為 y 值、value 為圖片路徑的
                  Object。
                  <br />
                  <input
                    type="text"
                    class="input--base w-full my-2"
                    v-model="icon_options.icon_table"
                  />
                </td>
              </tr>
            </props-table>
          </template>
        </demo-block>
      </section>

      <section id="icon_methods">
        <h3>Methods</h3>
        <p class="my-2">常用 methods。</p>
        <props-table
          :type="'Method'"
          :default_required="false"
          class="border rounded-lg"
        >
          <tr class="border-t">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <code>get_icon</code>
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
              將資料轉為圖片網址，傳入參數為資料的 y, x。
              <br />
              通常是拿來擴充成可處理不同格式的 icon_table。
            </td>
          </tr>
        </props-table>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed, reactive } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import PropsTable from '../../../components/PropsTable.vue'
import CodeBlock from '../../../components/CodeBlock.vue'
import AnchorAside from '../../../components/AnchorAside.vue'
import DemoBlock from '../../../components/DemoBlock.vue'
import DataArtistDemo from '../../../components/chart_demo/DataArtist/DataArtistDemo.vue'

import { js_beautify } from 'js-beautify'
import IconDataArtistDemo from '../../../components/chart_demo/DataArtist/IconDataArtistDemo.vue'

export default {
  components: {
    Layout,
    PropsTable,
    CodeBlock,
    AnchorAside,
    DemoBlock,
    DataArtistDemo,
    IconDataArtistDemo,
  },

  setup() {
    const anchor_list = [
      {
        text: 'CBChartDataArtist',
        id: 'CBChartDataArtist',
        children: [
          {
            text: 'Creation',
            id: 'creation',
          },
          {
            text: 'Options',
            id: 'options',
          },
        ],
      },
    ]

    const options_default = {
      base_number: 10,
      min_buffer_required: false,
      max_buffer_required: false,
      buffer_required: false,
    }
    const options = reactive({ ...options_default })
    const code = computed(() => {
      let tmp = ''
      for (let key in options) {
        if (options[key] !== options_default[key]) {
          if (typeof options[key] === 'string') {
            tmp += `${key}: '${options[key]}', `
          } else {
            tmp += `${key}: ${options[key]}, `
          }
        }
      }
      return js_beautify(`
          new CBChartDataArtist(dataset, paint, { ${tmp} })
      `)
    })

    const icon_options = reactive({
      icon_table: js_beautify(`{
        "cibi": "${assets_require('imgs/Cibi_xs.png')}",
        "fwm": "https://fishing.weathermap.tw/og_image.jpg"
      }`),
    })
    const valid_icon_table = computed(() => {
      try {
        return JSON.parse(icon_options.icon_table)
      } catch (e) {
        console.log(e)
      }
    })

    const code_for_icon = computed(() => {
      return js_beautify(`
        let data = [
          {
            x: 1,
            y: 'fwm',
          },
          {
            x: 2,
            y: 'cibi',
          },
          {
            x: 3,
            y: 'fwm',
          },
          {
            x: 4,
            y: 'fwm',
          },
          {
            x: 5,
            y: 'fwm',
          },
          {
            x: 6,
            y: 'fwm',
          },
        ]

        const chart_id = 'icon_chart'
        let chart = null
        nextTick(() => {
          if (chart) chart.destroy()
          chart = new CBChart(
            chart_id,
            {
              elem1: new CBIconDataArtist(dataset, paint, {
                icon_table: ${icon_options.icon_table}
              }),
            },
            {
              axis_x: {
                paint: new CBAxisXPaint({
                  container_id: chart_id + '_axis_x',
                }),
              },
            }
          )
        })
      `)
    })

    return {
      anchor_list,
      options,
      code,
      icon_options,
      valid_icon_table,
      code_for_icon,
    }
  },
}
</script>

<style></style>
