<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <anchor-aside :anchor_list="anchor_list"> </anchor-aside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <section class="mt-12 mb-6">
        <h1>CBWeatherChart</h1>
        <p>
          介紹
          <code class="inline_code">cb_weather_chart.js</code
          >，這裡放了一些常用的天氣圖表特化類別。
          <br />
          展示請見
          <router-link
            :to="{ name: 'CBCWeatherChart' }"
            class="text-sky-600 hover:text-sky-800"
          >
            CBCWeatherChart
          </router-link>
          。
        </p>
      </section>

      <section id="CBWeatherChart" class="mt-12 mb-6">
        <h2>CBWeatherChart</h2>
        <p class="mb-4">
          擴充自 CBTimeChart。
          <br />
          目前增加了可以畫夜晚灰色背景的選項。
        </p>
        <div>
          <code-block
            code="import { CBWeatherChart } from '@/libs/cb-chart/cb_weather_chart.js'

new CBWeatherChart(chart_id, data_artists, options)"
          >
          </code-block>
          <props-table :type="'Options'" class="border rounded-lg">
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>night_bg_required</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Boolean</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                <code>false</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                是否要畫上夜晚灰色背景。
              </td>
            </tr>
          </props-table>
        </div>
      </section>

      <section id="CBWeatherIconDataArtist" class="mt-12 mb-6">
        <h2>CBWeatherIconDataArtist</h2>
        <p class="mb-4">
          擴充自 CBIconDataArtist。
          <br />
          icon_table 預設使用 cb-chart 自帶的天氣圖示，且有白天夜晚的圖示區分。
        </p>
        <div>
          <code-block
            code="import { CBWeatherIconDataArtist } from '@/libs/cb-chart/cb_weather_chart.js'

new CBWeatherIconDataArtist(dataset, paint, options)"
          >
          </code-block>
        </div>
      </section>

      <section id="CBValidDataArtist" class="mt-12 mb-6">
        <h2>CBValidDataArtist</h2>
        <p class="mb-4">
          擴充自 CBChartDataArtist。
          <br />
          排除無效值，一般天氣參數都能使用。
        </p>
        <div>
          <code-block
            code="import { CBValidDataArtist } from '@/libs/cb-chart/cb_weather_chart.js'

new CBValidDataArtist(dataset, paint, options)"
          >
          </code-block>
        </div>
      </section>

      <section id="CBNotNegativeDataArtist" class="mt-12 mb-6">
        <h2>CBNotNegativeDataArtist</h2>
        <p class="mb-4">
          擴充自 CBChartDataArtist。
          <br />
          排除負值，可以給雨量圖表使用。
        </p>
        <div>
          <code-block
            code="import { CBNotNegativeDataArtist } from '@/libs/cb-chart/cb_weather_chart.js'

new CBNotNegativeDataArtist(dataset, paint, options)"
          >
          </code-block>
        </div>
      </section>

      <section id="CBTxAreaPaint" class="mt-12 mb-6">
        <h2>CBTxAreaPaint</h2>
        <p class="mb-4">
          擴充自 CBAreaChartPaint。
          <br />
          color_table 預設使用 cb-chart 自帶的溫度色表。
        </p>
        <div>
          <code-block
            code="import { CBTxAreaPaint } from '@/libs/cb-chart/cb_weather_chart.js'

new CBTxAreaPaint(options)"
          >
          </code-block>
        </div>
      </section>

      <section id="CBPrecpBarPaint" class="mt-12 mb-6">
        <h2>CBPrecpBarPaint</h2>
        <p class="mb-4">
          擴充自 CBBarChartPaint。
          <br />
          顏色預設是藍綠色，並且在雨量超出 data_range
          上限時，會加上波浪省略圖示。
        </p>
        <div>
          <code-block
            code="import { CBPrecpBarPaint } from '@/libs/cb-chart/cb_weather_chart.js'

new CBPrecpBarPaint(options)"
          >
          </code-block>
        </div>
      </section>

      <section id="CBWSDataArtist" class="mt-12 mb-6">
        <h2>CBWSDataArtist</h2>
        <p class="mb-4">
          擴充自 CBChartDataArtist。
          <br />
          會將資料 y 值設為 raw_data.y.ws，可以給風速折線圖使用。
        </p>
        <div>
          <code-block
            code="import { CBWSDataArtist } from '@/libs/cb-chart/cb_weather_chart.js'

new CBWSDataArtist(dataset, paint, options)"
          >
          </code-block>
        </div>
      </section>

      <section id="CBWDDataArtist" class="mt-12 mb-6">
        <h2>CBWDDataArtist</h2>
        <p class="mb-4">
          擴充自 CBChartDataArtist。
          <br />
          會將資料 y 值設為 raw_data.y.wd，並帶上 icon, rotate
          資訊，可以給風向圖示圖表使用。
        </p>
        <div>
          <code-block
            code="import { CBWDDataArtist } from '@/libs/cb-chart/cb_weather_chart.js'

new CBWDDataArtist(dataset, paint, options)"
          >
          </code-block>
        </div>
      </section>

      <section id="CBWSWDDataArtist" class="mt-12 mb-6">
        <h2>CBWSWDDataArtist</h2>
        <p class="mb-4">
          擴充自 CBWDDataArtist。
          <br />
          會將資料 y 值設為
          raw_data.y.ws，風向圖示是帶有風級區分的箭頭，並會帶上風級顏色資訊，可以給同時顯示風色和風向的圖示圖表使用。
        </p>
        <div>
          <code-block
            code="import { CBWSWDDataArtist } from '@/libs/cb-chart/cb_weather_chart.js'

new CBWSWDDataArtist(dataset, paint, options)"
          >
          </code-block>
          <props-table :type="'Options'" class="border rounded-lg">
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>icon_table</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Object</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                內建 WSIconTable
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap"></td>
            </tr>
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>color_table</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Object</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                內建 WeatherColorTable.ws
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap"></td>
            </tr>
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>missing_value</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Number</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                <code>-999</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                圖示會顯示成？的資料值。
              </td>
            </tr>
          </props-table>
        </div>
      </section>

      <section id="CBWSCirclePaint" class="mt-12 mb-6">
        <h2>CBWSCirclePaint</h2>
        <p class="mb-4">
          擴充自 CBChartPaint。
          <br />
          會依據資料中的 color 畫圓圈，目前是風速風向圖表有使用到。
        </p>
        <div>
          <code-block
            code="import { CBWSCirclePaint } from '@/libs/cb-chart/cb_weather_chart.js'

new CBWSCirclePaint(options)"
          >
          </code-block>
          <props-table :type="'Options'" class="border rounded-lg">
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>circle_size</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Number</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">30</td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                圓圈大小。
              </td>
            </tr>
            <tr class="border-t">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>opacity</code>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <code>Number</code>
              </td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">1</td>
              <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                圓圈透明度。
              </td>
            </tr>
          </props-table>
        </div>
      </section>
    </template>
  </Layout>
</template>

<script>
import Layout from '@/components/Layout.vue'
import PropsTable from '../../../components/PropsTable.vue'
import CodeBlock from '../../../components/CodeBlock.vue'
import AnchorAside from '../../../components/AnchorAside.vue'
import DemoBlock from '../../../components/DemoBlock.vue'
import ChartDemo from '../../../components/chart_demo/CBChart/ChartDemo.vue'
import TimeChartDemo from '../../../components/chart_demo/CBChart/TimeChartDemo.vue'

export default {
  components: {
    Layout,
    PropsTable,
    CodeBlock,
    AnchorAside,
    DemoBlock,
    ChartDemo,
    TimeChartDemo,
  },

  setup() {
    const anchor_list = [
      {
        text: 'CBWeatherChart',
        id: 'CBWeatherChart',
      },
      {
        text: 'CBWeatherIconDataArtist',
        id: 'CBWeatherIconDataArtist',
      },
      {
        text: 'CBValidDataArtist',
        id: 'CBValidDataArtist',
      },
      {
        text: 'CBNotNegativeDataArtist',
        id: 'CBNotNegativeDataArtist',
      },
      {
        text: 'CBTxAreaPaint',
        id: 'CBTxAreaPaint',
      },
      {
        text: 'CBPrecpBarPaint',
        id: 'CBPrecpBarPaint',
      },
      {
        text: 'CBWSDataArtist',
        id: 'CBWSDataArtist',
      },
      {
        text: 'CBWDDataArtist',
        id: 'CBWDDataArtist',
      },
      {
        text: 'CBWSWDDataArtist',
        id: 'CBWSWDDataArtist',
      },
      {
        text: 'CBWSCirclePaint',
        id: 'CBWSCirclePaint',
      },
    ]

    return {
      anchor_list,
    }
  },
}
</script>

<style></style>
