<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <AnchorAside :anchor_list="anchor_list"> </AnchorAside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Button</h1>
      <section id="cb-button">
        <h2>cb-button</h2>
        <p>
          cb-theme 提供的全域元件。
          <br />
          主要功用為方便產生帶有 loading 狀態的按鈕。
        </p>
      </section>

      <section id="base_props">
        <h3>Base Props</h3>
        <DemoBlock id="button_bp" :code="code">
          <cb-button
            :loading="button_props.loading"
            :disabled="button_props.disabled"
            :loading_replace_content="button_props.loading_replace_content"
          >
          </cb-button>
          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>'btn_primary'</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  套用在 button 上的 class，同原生用法。
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  loading
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  按鈕是否為載入狀態。
                  <cb-checkbox
                    v-model="button_props.loading"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  disabled
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  按鈕是否為禁用狀態
                  <cb-checkbox
                    v-model="button_props.disabled"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  loading_replace_content
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  當按鈕 loading 時，loader 是否要取代按鈕內容。較常見於只有
                  icon 的按鈕。
                  <cb-checkbox
                    v-model="button_props.loading_replace_content"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="slots">
        <h3>Slots</h3>

        <!-- default slot -->
        <h4>default slot</h4>
        <DemoBlock id="button_s" code="<cb-button>default slot</cb-button>">
          <cb-button>default slot</cb-button>
        </DemoBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed, reactive } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import DemoBlock from '@/components/DemoBlock.vue'
import PropsTable from '@/components/PropsTable.vue'

import { html_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    AnchorAside,
    DemoBlock,
    PropsTable,
  },
  setup() {
    const anchor_list = [
      {
        text: 'cb-button',
        id: 'cb-button',
        children: [
          {
            text: 'Base Props',
            id: 'base_props',
          },
          {
            text: 'Slots',
            id: 'slots',
          },
        ],
      },
    ]

    const button_props_default = {
      loading: false,
      disabled: false,
      loading_replace_content: false,
    }
    const button_props = reactive({ ...button_props_default })
    const code = computed(() => {
      let tmp = ''
      for (let key in button_props) {
        if (button_props[key] !== button_props_default[key]) {
          if (button_props[key] === true) {
            tmp += `${key} `
          } else {
            tmp += `${key}="${button_props[key]}"`
          }
        }
      }
      return html_beautify(`
          <cb-button
            ${tmp}
          >
          </cb-button>
      `)
    })

    return {
      anchor_list,
      code,
      button_props,
    }
  },
}
</script>

<style></style>
