<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <AnchorAside :anchor_list="anchor_list"> </AnchorAside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Checkbox</h1>
      <section id="cb-checkbox">
        <h2>cb-checkbox</h2>
        <p>
          cb-theme 提供的全域元件，和 cb-radio 非常相似。
          <br />
          整合了一些要實作自定義 checkbox 的必要結構，簡化要替換原生樣式的流程。
        </p>
      </section>

      <section id="base_props">
        <h3>Base Props</h3>
        <DemoBlock id="checkbox_bp" :code="code">
          <cb-checkbox
            :value="checkbox_props.value"
            :checked="checkbox_props.checked"
            :disabled="checkbox_props.disabled"
            :text="checkbox_props.text"
            :text_class="checkbox_props.text_class"
            :checkbox_class="checkbox_props.checkbox_class"
          >
          </cb-checkbox>
          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  modelValue
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean | Any</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  即用 v-model 綁定，同原生 checkbox 的用法。
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  value
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String | Any</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <br />
                  同原生 checkbox 的用法。另外若沒有傳入 text，會顯示這個值。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="checkbox_props.value"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  checked
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否為被選取的狀態。同原生 checkbox 的用法。
                  <cb-checkbox
                    v-model="checkbox_props.checked"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  disabled
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否為不可選取的狀態。同原生 checkbox 的用法。
                  <cb-checkbox
                    v-model="checkbox_props.disabled"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  checkbox_class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  "checkbox_primary"
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  前面核取方塊的樣式。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="checkbox_props.checkbox_class"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  text
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  欲顯示的文字。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="checkbox_props.text"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  text_class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示文字的樣式。
                  <br />
                  <input
                    type="text"
                    class="input--base w-full my-2"
                    v-model="checkbox_props.text_class"
                  />
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="additional_props">
        <h3>Additional Props</h3>

        <h4>全選功能</h4>
        <DemoBlock id="checkbox_ap" :code="code_for_select_all">
          <div class="flex gap-4">
            <cb-checkbox
              v-model="selected_cb_items"
              for_check_all
              :item_list="cb_item_list"
              text="全選"
            >
            </cb-checkbox>
            <cb-checkbox
              v-for="item in cb_item_list"
              :key="item"
              v-model="selected_cb_items"
              :value="item"
            >
            </cb-checkbox>
          </div>
          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  for_check_all
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否要開啟全選功能
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  item_list
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Array</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  用於全選的選項陣列。
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="slots">
        <h3>Slots</h3>
        <p>
          替代 cb-checkbox 內的顯示元件。
          <br />
          可使用 peer-checked:, peer-disabled:, 這兩個自定義 variants
          來控制不同狀態的樣式。
        </p>
        <DemoBlock id="checkbox_sc" :code="code_for_slot_checked">
          <cb-checkbox>
            <div class="p-2 peer-checked:bg-red-300 peer-checked:text-white">
              peer-checked
            </div>
          </cb-checkbox>
        </DemoBlock>
        <DemoBlock id="checkbox_sd" :code="code_for_slot_disabled">
          <cb-checkbox disabled>
            <div class="p-2 peer-disabled:btn_disabled">peer-disabled</div>
          </cb-checkbox>
        </DemoBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed, reactive, ref } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import DemoBlock from '@/components/DemoBlock.vue'
import PropsTable from '@/components/PropsTable.vue'

import { html_beautify } from 'js-beautify'

export default {
  components: {
    DemoBlock,
    AnchorAside,
    Layout,
    PropsTable,
  },

  setup() {
    const anchor_list = [
      {
        text: 'cb-checkbox',
        id: 'cb-checkbox',
        children: [
          {
            text: 'Base Props',
            id: 'base_props',
          },
          {
            text: 'Additional Props',
            id: 'additional_props',
          },
          {
            text: 'Slots',
            id: 'slots',
          },
        ],
      },
    ]

    const checkbox_props_default = {
      value: null,
      checked: false,
      disabled: false,
      checkbox_class: 'checkbox_primary',
      text: null,
      text_class:
        'text-primary cursor-pointer select-none peer-disabled:cursor-not-allowed peer-disabled:text-gray-400',
    }
    const checkbox_props = reactive({ ...checkbox_props_default })
    const code = computed(() => {
      let tmp = ''
      for (let key in checkbox_props) {
        if (checkbox_props[key] !== checkbox_props_default[key]) {
          if (checkbox_props[key] === true) {
            tmp += `${key} `
          } else {
            tmp += `${key}="${checkbox_props[key]}"`
          }
        }
      }
      return html_beautify(`
        <cb-checkbox
          v-model="input_value"
          ${tmp}
        >
        </cb-checkbox>
      `)
    })

    const code_for_slot_checked = html_beautify(`
            <cb-checkbox>
              <div class="p-2 peer-checked:bg-red-300 peer-checked:text-white">
                peer-checked
              </div>
            </cb-checkbox>`)

    const code_for_slot_disabled = html_beautify(`
            <cb-checkbox disabled>
              <div class="p-2 peer-disabled:btn_disabled">
                peer-disabled
              </div>
            </cb-checkbox>`)

    const code_for_select_all = html_beautify(`
        <template>
          <div class="flex gap-4">
            <cb-checkbox
              v-model="selected_cb_items"
              for_check_all
              :item_list="cb_item_list"
              text="全選"
            >
            </cb-checkbox>
            <cb-checkbox
              v-for="item in cb_item_list"
              :key="item"
              v-model="selected_cb_items"
              :value=item
            >
            </cb-checkbox>
          </div>
        </template>

        <script>
          import { ref } from 'vue'

          export default {
            setup() {
              return {
                cb_item_list: ['a', 'b', 'c'],
                selected_cb_items: ref(['a']),
              }
            }
          }
        <\/script>
      `)

    return {
      anchor_list,
      code,
      code_for_slot_checked,
      code_for_slot_disabled,
      code_for_select_all,

      checkbox_props,

      cb_item_list: ['a', 'b', 'c'],
      selected_cb_items: ref(['a']),
    }
  },
}
</script>

<style></style>
