<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <AnchorAside :anchor_list="anchor_list"> </AnchorAside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Modal</h1>
      <section id="cb-modal">
        <h2>cb-modal</h2>
        <p>
          cb-theme 提供的全域元件。用於快速建立覆蓋在畫面上的小視窗。
          <br />
          和 cb-dialog 的差別在於呼叫方法不同，cb-modal 是在 template 中作為
          component
          使用，使用情境通常是內容較複雜的時候，或是會被畫面上的常駐物件觸發的時候。
        </p>
      </section>
      <section id="base_props">
        <h3>Base Props</h3>
        <DemoBlock id="modal_bp" :code="code_for_base">
          <button class="btn_normal" @click="base_modal_visible = true">
            Show Modal
          </button>

          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  visible
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  用 v-model:visible 綁定，控制 modal 的顯示與否。
                  <br />
                  補充：Vue3 綁定方式是 v-model:visible，Vue2 是 :visible.sync
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  title
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>"標題"</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示於上方標題。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="modal_props.title"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  content
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>"內容"</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示於中間內容處。
                  <br />
                  （內容的優先度：slot > html_content > content）
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="modal_props.content"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  html_content
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  html 格式的內容，會以 html 元件顯示於中間內容處。
                  <br />
                  （內容的優先度：slot > html_content > content）
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="modal_props.html_content"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  cancel_btn_required
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否需要顯示取消按鈕。
                  <br />
                  <cb-checkbox
                    v-model="modal_props.cancel_btn_required"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  ok_text
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>"確定"</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示於確認按鈕的文字。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="modal_props.ok_text"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  cancel_text
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>"取消"</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示於取消按鈕的文字。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="modal_props.cancel_text"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  closable
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否要顯示右上角關閉按鈕。
                  <br />
                  <cb-checkbox
                    v-model="modal_props.closable"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  mask_closable
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否能點擊背景關閉。
                  <br />
                  <cb-checkbox
                    v-model="modal_props.mask_closable"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  mask_penetrable
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4">
                  背景是否可以穿透。若能穿透，背景會是透明的、使用者可以滾動頁面；若不能穿透，背景會是半透明黑、使用者無法滾動頁面。
                  <br />
                  <cb-checkbox
                    v-model="modal_props.mask_penetrable"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  card_class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  卡片樣式，用於覆蓋或擴充預設樣式。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="modal_props.card_class"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  loading
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  確認按鈕 loading 的狀態。
                  <br />
                  若有傳入 null
                  以外的值，使用者點擊確認後不會直接關閉，需由外部控制。
                  <br />
                  此外，若不希望點選 ok 直接關閉，也可以將 loading 設為
                  false，由外部關閉。
                  <br />
                  <cb-checkbox
                    v-model="modal_props.loading"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  disabled
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  確認按鈕 disabled 的狀態。通常用在 content
                  中有必填欄位的情況。
                  <br />
                  <cb-checkbox
                    v-model="modal_props.disabled"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="additional_props">
        <h3>Additional Props</h3>

        <h4>按 esc 觸發關閉</h4>
        <DemoBlock id="modal_esc" :code="code_for_esc">
          <button class="btn_normal" @click="esc_modal_visible = true">
            Show Modal
          </button>

          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  esc_closable
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否能按 esc 觸發關閉。不接受動態變更，以 modal
                  生成時傳入的值為主。
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>

        <h4>按 enter 觸發 ok</h4>
        <DemoBlock id="modal_enter" :code="code_for_enter">
          <button class="btn_normal" @click="enter_modal_visible = true">
            Show Modal
          </button>

          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  enter_enabled
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否能按 enter 觸發 ok。不接受動態變更，以 modal
                  生成時傳入的值為主。
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="events">
        <h3>Events</h3>

        <h4>使用者點擊結果</h4>
        <DemoBlock id="modal_e" :code="code_for_confirm">
          <button class="btn_normal" @click="confirm_modal_visible = true">
            Show Modal
          </button>

          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable type="Event" :default_required="false">
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  confirm
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  使用者點擊了確認或取消都會觸發，會傳出一個 Boolean
                  值，代表是確認 (true) 或取消 (false)。
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="slots">
        <h3>Slots</h3>

        <!-- default slot -->
        <h4>default slot</h4>
        <DemoBlock id="modal_s" :code="code_for_slot">
          <button class="btn_normal" @click="slot_modal_visible = true">
            Show Modal
          </button>
        </DemoBlock>

        <!-- header slot -->
        <h4>header slot</h4>
        <DemoBlock id="modal_hs" :code="code_for_header_slot">
          <button class="btn_normal" @click="header_slot_modal_visible = true">
            Show Modal
          </button>
        </DemoBlock>

        <!-- footer slot -->
        <h4>footer slot</h4>
        <DemoBlock id="modal_fs" :code="code_for_footer_slot">
          <button class="btn_normal" @click="footer_slot_modal_visible = true">
            Show Modal
          </button>
        </DemoBlock>
        <p>
          註：若不希望顯示 modal 底部的按鈕，需透過 footer slot
          傳入空的元件來達成。
        </p>

        <!-- footer slot -->
        <h4>ok btn slot</h4>
        <DemoBlock id="modal_os" :code="code_for_ok_btn_slot">
          <button class="btn_normal" @click="ok_btn_slot_modal_visible = true">
            Show Modal
          </button>
        </DemoBlock>
      </section>

      <section id="debug">
        <h2>Debug</h2>

        <p class="my-4">
          若專案中的 modal 沒有顯示於最上層，請確認 z-modal 的設定值，模組預設是
          1000。
        </p>

        <CodeBlock filename="windi.config.js" :code="code_for_windi_config">
        </CodeBlock>
      </section>
    </template>
  </Layout>

  <cb-modal
    v-model:visible="base_modal_visible"
    :title="modal_props.title"
    :content="modal_props.content"
    :html_content="modal_props.html_content"
    :cancel_btn_required="modal_props.cancel_btn_required"
    :ok_text="modal_props.ok_text"
    :cancel_text="modal_props.cancel_text"
    :closable="modal_props.closable"
    :mask_closable="modal_props.mask_closable"
    :mask_penetrable="modal_props.mask_penetrable"
    :card_class="modal_props.card_class"
    :loading="modal_props.loading"
    :disabled="modal_props.disabled"
  >
  </cb-modal>

  <cb-modal v-model:visible="esc_modal_visible" esc_closable> </cb-modal>

  <cb-modal v-model:visible="enter_modal_visible" enter_enabled> </cb-modal>

  <cb-modal
    v-model:visible="confirm_modal_visible"
    cancel_btn_required
    @confirm="cb_confirm"
  >
  </cb-modal>

  <cb-modal v-model:visible="slot_modal_visible">
    <div>default slot</div>
  </cb-modal>

  <cb-modal v-model:visible="header_slot_modal_visible">
    <template v-slot:header>
      <div>header slot</div>
    </template>
  </cb-modal>

  <cb-modal v-model:visible="footer_slot_modal_visible" closable>
    <template v-slot:footer>
      <div>footer slot</div>
    </template>
  </cb-modal>

  <cb-modal v-model:visible="ok_btn_slot_modal_visible" cancel_btn_required>
    <template v-slot:ok_btn>
      <button class="btn_normal mx-auto">ok_btn slot</button>
    </template>
  </cb-modal>
</template>

<script>
import { computed, reactive, ref } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import DemoBlock from '@/components/DemoBlock.vue'
import CodeBlock from '@/components/CodeBlock.vue'
import PropsTable from '@/components/PropsTable.vue'

import { html_beautify, js_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    AnchorAside,
    DemoBlock,
    CodeBlock,
    PropsTable,
  },

  setup() {
    const anchor_list = [
      {
        text: 'cb-modal',
        id: 'cb-modal',
        children: [
          {
            text: 'Base Props',
            id: 'base_props',
          },
          {
            text: 'Additional Props',
            id: 'additional_props',
          },
          {
            text: 'Events',
            id: 'events',
          },
          {
            text: 'Slots',
            id: 'slots',
          },
        ],
      },
    ]

    const modal_props_default = {
      title: '標題',
      content: '內容',
      html_content: null,
      cancel_btn_required: false,
      ok_text: '確定',
      cancel_text: '取消',
      closable: false,
      mask_closable: false,
      mask_penetrable: false,
      card_class: null,
      loading: null,
      disabled: null,
    }
    const modal_props = reactive({ ...modal_props_default })
    const code_for_base = computed(() => {
      let tmp = ''
      for (let key in modal_props) {
        if (modal_props[key] !== modal_props_default[key]) {
          if (modal_props[key] === true) {
            tmp += `${key} `
          } else {
            tmp += `${key}="${modal_props[key]}"`
          }
        }
      }
      return html_beautify(`
          <cb-modal
            v-model:visible="input_visible"
            ${tmp}
          >
          </cb-modal>
      `)
    })

    const code_for_slot = html_beautify(`
      <cb-modal
        v-model:visible="input_visible"
      >
        <div>
          default slot
        </div>
      </cb-modal>
    `)

    const code_for_header_slot = html_beautify(`
      <cb-modal
        v-model:visible="input_visible"
      >
        <template v-slot:header>
          <div>
            header slot
          </div>
        </template>
      </cb-modal>
    `)

    const code_for_footer_slot = html_beautify(`
      <cb-modal
        v-model:visible="input_visible"
        closable
      >
        <template v-slot:footer>
          <div>
            footer slot
          </div>
        </template>
      </cb-modal>
    `)

    const code_for_ok_btn_slot = html_beautify(`
        <cb-modal
          v-model:visible="input_visible"
          cancel_btn_required
        >
          <template v-slot:ok_btn>
            <button class="btn_normal mx-auto">
              ok_btn slot
            </button>
          </template>
        </cb-modal>
      `)

    const code_for_esc = html_beautify(`
        <cb-modal
          v-model:visible="input_visible"
          esc_closabled
        >
        </cb-modal>
      `)

    const code_for_enter = html_beautify(`
          <cb-modal
            v-model:visible="input_visible"
            enter_enabled
          >
          </cb-modal>
      `)

    const code_for_confirm = html_beautify(`
        <template>
          <cb-modal
            v-model:visible="confirm_modal_visible"
            cancel_btn_required
            @confirm="cb_confirm"
          >
          </cb-modal>
        </template>

        <script>
          import { ref } from 'vue'

          export default {
            setup() {
              return {
                modal_visible: ref(false),
                cb_confirm: (ok) => {
                  if (ok) {
                    alert("OK")
                  }
                  else {
                    alert("NO")
                  }
                }
              }
            }
          }
        <\/script>
      `)

    const code_for_windi_config = js_beautify(`
      module.exports = {
        ...
        theme: {
          extend: {
            zIndex: {
              modal: 1000  // replace default value
            }
          }
        }
        ...
      }
    `)

    return {
      anchor_list,

      code_for_base,
      base_modal_visible: ref(false),

      code_for_esc,
      esc_modal_visible: ref(false),

      code_for_enter,
      enter_modal_visible: ref(false),

      code_for_slot,
      slot_modal_visible: ref(false),

      code_for_header_slot,
      header_slot_modal_visible: ref(false),

      code_for_footer_slot,
      footer_slot_modal_visible: ref(false),

      code_for_ok_btn_slot,
      ok_btn_slot_modal_visible: ref(false),

      code_for_confirm,
      confirm_modal_visible: ref(false),
      cb_confirm: (ok) => {
        if (ok) {
          alert('OK')
        } else {
          alert('NO')
        }
      },

      modal_props,

      code_for_windi_config,
    }
  },
}
</script>

<style></style>
