<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <AnchorAside :anchor_list="anchor_list"> </AnchorAside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Radio</h1>
      <section id="cb-radio">
        <h2>cb-radio</h2>
        <p>
          cb-theme 提供的全域元件，和 cb-checkbox 非常相似。
          <br />
          整合了一些要實作自定義 radio 的必要結構，簡化要替換原生樣式的流程。
        </p>
      </section>
      <section id="base_props">
        <h3>Base Props</h3>
        <DemoBlock id="radio_bp" :code="code_for_base">
          <template v-slot:default>
            <cb-radio
              v-model="cb_model_value"
              :value="radio_props.value"
              :checked="radio_props.checked"
              :disabled="radio_props.disabled"
              :text="radio_props.text"
              :text_class="radio_props.text_class"
              :checkbox_class="radio_props.checkbox_class"
            >
            </cb-radio>
            <cb-radio v-model="cb_model_value" text="多放的"> </cb-radio>
          </template>
          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  modelValue
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean | Any</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  即用 v-model 綁定，同原生 radio 的用法。
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  value
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String | Any</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  同原生 radio 的用法。另外若沒有傳入 text，會顯示這個值。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="radio_props.value"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  checked
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否為被選取的狀態。同原生 radio 的用法。
                  <cb-checkbox
                    v-model="radio_props.checked"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  disabled
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code></code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否為不可選取的狀態。同原生 radio 的用法。
                  <cb-checkbox
                    v-model="radio_props.disabled"
                    text=""
                  ></cb-checkbox>
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  checkbox_class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  "checkbox_primary"
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  前面核取方塊的樣式。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="radio_props.checkbox_class"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  text
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  欲顯示的文字。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="radio_props.text"
                  />
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  text_class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  顯示文字的樣式。
                  <br />
                  <input
                    type="text"
                    class="input--base w-full my-2"
                    v-model="radio_props.text_class"
                  />
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="additional_props">
        <h3>Additional Props</h3>

        <h4>取消選取功能</h4>
        <p>
          html 原生的 radio 是無法取消選取的，這邊提供一個 prop
          來開啟取消選取的功能，讓同一選項被重複點擊即可取消（即將綁定值設為
          null）。
        </p>
        <DemoBlock id="radio_ap" :code="code_for_clear">
          <div class="flex gap-4">
            <cb-radio
              v-for="item in cb_item_list"
              :key="item"
              v-model="selected_cb_item"
              :value="item"
              clear_required
            >
            </cb-radio>
          </div>

          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  clear_required
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Boolean</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>false</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  是否要開啟取消選取功能
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="slots">
        <h3>Slots</h3>
        <p>
          替代 cb-radio 內的顯示元件。
          <br />
          可使用 peer-checked:, peer-disabled:, 這兩個自定義 variants
          來控制不同狀態的樣式。
        </p>
        <DemoBlock id="radio_sc" :code="code_for_slot_checked">
          <cb-radio :checked="false">
            <div class="p-2 peer-checked:bg-red-300 peer-checked:text-white">
              peer-checked
            </div>
          </cb-radio>
        </DemoBlock>
        <DemoBlock id="radio_sd" :code="code_for_slot_disabled">
          <cb-radio disabled>
            <div class="p-2 peer-disabled:btn_disabled">peer-disabled</div>
          </cb-radio>
        </DemoBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed, reactive, ref } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import DemoBlock from '@/components/DemoBlock.vue'
import PropsTable from '@/components/PropsTable.vue'

import { html_beautify, js_beautify } from 'js-beautify'

export default {
  components: {
    DemoBlock,
    AnchorAside,
    Layout,
    PropsTable,
  },

  setup() {
    const anchor_list = [
      {
        text: 'cb-radio',
        id: 'cb-radio',
        children: [
          {
            text: 'Base Props',
            id: 'base_props',
          },
          {
            text: 'Additional Props',
            id: 'additional_props',
          },
          {
            text: 'Slots',
            id: 'slots',
          },
        ],
      },
    ]

    const radio_props_default = {
      value: null,
      checked: false,
      disabled: false,
      checkbox_class: 'checkbox_primary',
      text: null,
      text_class:
        'text-primary cursor-pointer select-none peer-disabled:cursor-not-allowed peer-disabled:text-gray-400',
    }
    const radio_props = reactive(
      Object.assign({}, radio_props_default, {
        text: '展示用',
      })
    )
    const code_for_base = computed(() => {
      let tmp = ''
      for (let key in radio_props) {
        if (radio_props[key] !== radio_props_default[key]) {
          if (radio_props[key] === true) {
            tmp += `${key} `
          } else {
            tmp += `${key}="${radio_props[key]}"`
          }
        }
      }
      return html_beautify(`
          <cb-radio
            v-model="input_value"
            ${tmp}
          >
          </cb-radio>
          <cb-radio
            v-model="input_value"
            text="多放的"
          >
          </cb-radio>
      `)
    })

    const code_for_slot_checked = html_beautify(`
            <cb-radio :checked="false">
              <div class="p-2 peer-checked:bg-red-300 peer-checked:text-white">
                peer-checked
              </div>
            </cb-radio>`)

    const code_for_slot_disabled = html_beautify(`
            <cb-radio disabled>
              <div class="p-2 peer-disabled:btn_disabled">
                peer-disabled
              </div>
            </cb-radio>`)

    const code_for_clear = html_beautify(`
        <template>
          <cb-radio
            v-for="item in cb_item_list"
            :key="item"
            v-model="selected_cb_item"
            :value=item
            clear_required
          >
          </cb-radio>
        </template>

        <script>
          import { ref } from 'vue'

          export default {
            setup() {
              return {
                cb_item_list: ['a', 'b', 'c'],
                selected_cb_item: ref('a'),
              }
            }
          }
        <\/script>
      `)

    return {
      anchor_list,
      code_for_base,
      code_for_slot_checked,
      code_for_slot_disabled,
      code_for_clear,

      cb_model_value: ref(null),
      radio_props,

      cb_item_list: ['a', 'b', 'c'],
      selected_cb_item: ref('a'),
    }
  },
}
</script>

<style></style>
