<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <AnchorAside v-if="anchor_list.length" :anchor_list="anchor_list">
      </AnchorAside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Select</h1>

      <section id="cb-select">
        <h2>cb-select</h2>
        <p>
          cb-theme 提供的全域元件。
          <br />
          整合了 select 的常用結構和樣式。
        </p>
      </section>

      <section id="base_props">
        <h3>Base Props</h3>
        <DemoBlock id="select_bp" :code="code">
          <cb-select :select_class="cb_select_class"> </cb-select>
          <template v-slot:props_table>
            <!-- props table -->
            <PropsTable>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  modelValue
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>Any</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  即用 v-model 綁定，同原生 select 的用法。
                </td>
              </tr>
              <tr class="border-t">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  select_class
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <code>String</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  <code>null</code>
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  select 的樣式，用於覆蓋或擴充預設樣式。
                  <br />
                  <input
                    type="text"
                    class="input--base my-2"
                    v-model="cb_select_class"
                  />
                </td>
              </tr>
            </PropsTable>
          </template>
        </DemoBlock>
      </section>

      <section id="slots">
        <h3>Slots</h3>
        <p>替代 cb-select 內的選項。</p>
        <DemoBlock id="select_s" :code="code_for_slot">
          <cb-select v-model="cb_model_value_for_slot">
            <option v-for="option in cb_options" :key="option" :value="option">
              {{ option }}
            </option>
          </cb-select>
        </DemoBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import { computed, ref } from '@vue/reactivity'

import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import DemoBlock from '@/components/DemoBlock.vue'
import PropsTable from '@/components/PropsTable.vue'

import { html_beautify, js_beautify } from 'js-beautify'

export default {
  components: {
    DemoBlock,
    AnchorAside,
    Layout,
    PropsTable,
  },

  setup() {
    const anchor_list = [
      {
        text: 'cb-select',
        id: 'cb-select',
        children: [
          {
            text: 'Base Props',
            id: 'base_props',
          },
          {
            text: 'Slots',
            id: 'slots',
          },
        ],
      },
    ]

    const cb_select_class = ref(null)
    const code = computed(() => {
      let tmp = ''
      if (cb_select_class.value !== null) {
        tmp = `select_class="${cb_select_class.value}"`
      }
      return html_beautify(`
        <cb-select
          v-model="input_value"
          ${tmp}
        >
        </cb-select>
      `)
    })

    const code_for_slot = html_beautify(`
        <template>
          <cb-select
            v-model="cb_model_value"
          >
            <option
              v-for="option in cb_options"
              :key="option"
              :value="option"
            >
              {{ option }}
            </option>
          </cb-select>
        </template>

        <script>
          import { ref } from 'vue'

          export default {
            setup() {
              return {
                cb_model_value: ref('a'),
                cb_options: ['a', 'b', 'c']
              }
            }
          }
        <\/script>
      `)

    return {
      anchor_list,
      code_for_slot,

      cb_select_class,
      code,

      cb_model_value_for_slot: ref('a'),
      cb_options: ['a', 'b', 'c'],
    }
  },
}
</script>

<style></style>
