<template>
  <button class="btn_primary--line absolute top-0 left-0 m-2" @click="refresh">
    更新圖表
  </button>
  <div class="w-full px-8 lg:pt-8">
    <div style="width: 100%; height: 100px" :id="chart_id"></div>
  </div>
</template>

<script>
import { CBChart } from '@/libs/cb-chart/cb_chart.js'
import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
import { CBTextChartPaint } from '@/libs/cb-chart/cb_chart_paint'
import { CBAxisXPaint } from '@/libs/cb-chart/cb_axis_paint.js'
import { nextTick, onBeforeUnmount } from 'vue'

export default {
  props: {
    class_name: {},
  },

  setup(props) {
    let data = [
      {
        x: 1,
        y: 10,
      },
      {
        x: 2,
        y: 15,
      },
      {
        x: 3,
        y: 30,
      },
      {
        x: 4,
        y: 15,
      },
      {
        x: 5,
        y: 30,
      },
      {
        x: 6,
        y: 30,
      },
    ]

    const chart_id = 'text_chart'
    let chart = null
    nextTick(() => {
      refresh()
    })

    const refresh = () => {
      if (chart) chart.destroy()
      chart = new CBChart(
        chart_id,
        {
          elem1: new CBChartDataArtist(
            data,
            new CBTextChartPaint({
              class_name: props.class_name,
            })
          ),
        },
        {
          axis_x: {
            paint: new CBAxisXPaint({
              text_align: 'bottom',
            }),
          },
          axes_y: {
            elem1: {
              canvas_range: 20,
            },
          },
        }
      )
    }

    onBeforeUnmount(() => {
      chart.destroy()
    })

    return {
      refresh,
      chart_id,
    }
  },
}
</script>
