<template>
  <router-view/>
</template>

<script>
import { provide, ref, watch } from '@vue/runtime-core'
import { useUserStore } from './compositions/FakeUserStore'

export default {
  setup(props) {
    /** 所有 store 生成的地方 */
    const UserStore = useUserStore()
    provide('UserStore', UserStore)

    // initialize theme
    let _theme = null
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      _theme = 'dark'
    } else {
      _theme = 'light'
    }

    const theme = ref(_theme)
    watch(theme, mode => {
      if (mode === 'dark') {
        document.documentElement.classList.add('dark')
        document.querySelector('link[title="dark-highlight"]').removeAttribute("disabled")
        document.querySelector('link[title="light-highlight"]').setAttribute("disabled", "disabled")
      }
      else {
        document.documentElement.classList.remove('dark')
        document.querySelector('link[title="light-highlight"]').removeAttribute("disabled")
        document.querySelector('link[title="dark-highlight"]').setAttribute("disabled", "disabled")
      }

      localStorage.theme = mode
      theme.value = mode
    })

    provide('theme', theme)
  }
}
</script>
