body {
  @apply bg-light-50 text-dark-50 dark:bg-dark-400 dark:text-light-50;

  /* 主要中文字體：蘋方-繁、黑體-繁、微軟無襯線體 */
  font-family: 'PingFang TC', 'Heiti TC', 'Microsoft Sans Serif'
  ,'Apple LiGothic Medium','Verdana','Tahoma','Trebuchet MS','Helvetica Neue'
  ,Arial,sans-serif;
}

button {
  @apply rounded py-2 px-4 transition-all;
}

/* 清除 font icon 不明多出的高度 */
i {
  @apply flex;
}

/* 以下會放此專案的自訂樣式，或是用來覆蓋公版樣式 */

h1 {
  @apply text-4xl font-bold my-6;
}

h2 {
  @apply text-2xl font-bold my-4;
}

h3 {
  @apply text-lg font-bold my-3;
}

h4 {
  @apply text-base font-bold my-2;
}

p {
  @apply text-base leading-7;
}

section {
  @apply mb-12;
}

.inline_code {
  @apply rounded p-1 bg-code_bg-light dark:bg-code_bg-dark;
}
