<template>
  <Layout>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>
        Button
      </h1>
      <section id="btn_normal" class="mb-8">
        <h2>Styles</h2>
        <p>各式按鈕樣式，被定義在 <code class="inline_code">tw_style.css</code> 。</p>
        <div class=" my-4 flex flex-col gap-4">
          <DemoBlock
            id="btn_normal"
            :code="btn_normal_html"
          >
            <button
              class="btn_normal"
              :disabled="cb_disabled"
            >
              btn_normal
            </button>
          </DemoBlock>
          <DemoBlock
            id="btn_primary"
            :code="btn_primary_html"
          >
            <button
              class="btn_primary"
              :disabled="cb_disabled"
            >
              btn_primary
            </button>
          </DemoBlock>
          <DemoBlock
            id="btn_primary_line"
            :code="btn_primary_line_html"
          >
            <button
              class="btn_primary--line"
              :disabled="cb_disabled"
            >
              btn_primary--line
            </button>
          </DemoBlock>
          <DemoBlock
            id="btn_accent"
            :code="btn_accent_html"
          >
            <button
              class="btn_accent"
              :disabled="cb_disabled"
            >
              btn_accent
            </button>
          </DemoBlock>
          <DemoBlock
            id="btn_accent_line"
            :code="btn_accent_line_html"
          >
            <button
              class="btn_accent--line"
              :disabled="cb_disabled"
            >
              btn_accent--line
            </button>
          </DemoBlock>
          <DemoBlock
            id="btn_secondary"
            :code="btn_secondary_html"
          >
            <button
              class="btn_secondary"
              :disabled="cb_disabled"
            >
              btn_secondary
            </button>
          </DemoBlock>
          <DemoBlock
            id="btn_cancel"
            :code="btn_cancel_html"
          >
            <button
              class="btn_cancel"
              :disabled="cb_disabled"
            >
              btn_cancel
            </button>
          </DemoBlock>
        </div>

      </section>

      <section>
        <h2>Other Usage</h2>
        <DemoBlock
          id="btn_icon"
          :code="btn_icon_html"
        >
          <button
            class="btn_normal p-2 rounded-full"
            :disabled="cb_disabled"
          >
            <i class="icon-info"></i>
          </button>
        </DemoBlock>
      </section>

      <section>
        <h2>Shortcuts</h2>
        <p>
          <cb-checkbox v-model="cb_disabled" text="將以上按鈕 disable"></cb-checkbox>
          以上所有按鈕樣式在 disabled 狀態下，皆會套用下方的禁用按鈕樣式。
          <br>
          btn_disabled 因會被其他樣式取用，所以被定義在 <code class="inline_code">windi.config.js > shortcuts</code> 。
        </p>

        <DemoBlock
          id="btn_disabled"
          :code="btn_disabled_html"
        >
        </DemoBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import { ref } from '@vue/reactivity';

import Layout from '@/components/Layout.vue';
import AnchorAside from '@/components/AnchorAside.vue';
import DemoBlock from '@/components/DemoBlock.vue';

import { html_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    AnchorAside,
    DemoBlock,
},
  setup() {
    const anchor_list = []

    const btn_normal_html = html_beautify(`<button class="btn_normal">
            btn_normal
          </button>`)
    const btn_primary_html = html_beautify(`<button class="btn_primary">
            btn_primary
          </button>`)
    const btn_primary_line_html = html_beautify(`<button class="btn_primary--line">
            btn_primary--line
          </button>`)
    const btn_accent_html = html_beautify(`<button class="btn_accent">
            btn_accent
          </button>`)
    const btn_accent_line_html = html_beautify(`<button class="btn_accent--line">
            btn_accent--line
          </button>`)
    const btn_secondary_html = html_beautify(`<button class="btn_secondary">
            btn_secondary
          </button>`)
    const btn_cancel_html = html_beautify(`<button class="btn_cancel">
            btn_cancel
          </button>`)
    const btn_icon_html = html_beautify(`<button class="btn_normal p-2 rounded-full">
            <i class="icon-info"></i>
          </button>`)
    const btn_disabled_html = html_beautify(`<button class="btn_disabled">
            btn_disabled
          </button>`)

    return {
      btn_normal_html,
      btn_primary_html,
      btn_primary_line_html,
      btn_accent_html,
      btn_accent_line_html,
      btn_secondary_html,
      btn_cancel_html,
      btn_icon_html,
      btn_disabled_html,

      cb_disabled: ref(false)
    }
  }
}
</script>

<style>

</style>
