<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <AnchorAside v-if="anchor_list.length" :anchor_list="anchor_list">
      </AnchorAside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Input</h1>
      <section>
        <h2>Styles</h2>
        <h3>input--base</h3>
        <DemoBlock id="input_i" :code="code_for_input"> </DemoBlock>
        <DemoBlock id="input_t" :code="code_for_textarea"> </DemoBlock>
      </section>

      <section>
        <h2>Other Usage</h2>

        <DemoBlock id="input_icon" :code="code_for_input_icon"> </DemoBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import DemoBlock from '@/components/DemoBlock.vue'

import { html_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    AnchorAside,
    DemoBlock,
  },

  setup() {
    const anchor_list = []

    const code_for_input = html_beautify(
      `<input type="text" class="input--base">`
    )
    const code_for_textarea = html_beautify(`
              <textarea
                class="input--base"
              ></textarea>`)
    const code_for_input_icon = html_beautify(`
      <div class="relative">
        <input type="text" class="input--base pl-9 peer" placeholder="有 icon 在前面的用法">
        <i class="icon-info absolute left-3 vertical_center peer-focus:text-accent"></i>
      </div>
    `)

    return {
      anchor_list,
      code_for_input,
      code_for_textarea,
      code_for_input_icon,
    }
  },
}
</script>

<style></style>
