<template>
  <button class="btn_primary--line absolute top-0 left-0 m-2" @click="refresh">
    更新圖表
  </button>
  <div class="w-full px-8 lg:pt-8">
    <div id="line_chart_axis_y"></div>
    <div>
      <div style="width: 100%; height: 100px" id="line_chart"></div>
      <div id="line_chart_axis_x"></div>
    </div>
  </div>
</template>

<script>
import { CBChart } from '@/libs/cb-chart/cb_chart.js'
import { CBChartDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
import { CBLineChartPaint } from '@/libs/cb-chart/cb_chart_paint'
import { CBAxisXPaint, CBAxisYPaint } from '@/libs/cb-chart/cb_axis_paint.js'
import { nextTick, onBeforeUnmount } from 'vue'

export default {
  props: {
    base_number: {},
    min_buffer_required: {},
    max_buffer_required: {},
    buffer_required: {},
  },

  setup(props) {
    let data = [
      {
        x: 1,
        y: 10,
      },
      {
        x: 2,
        y: 15,
      },
      {
        x: 3,
        y: 30,
      },
      {
        x: 4,
        y: 15,
      },
      {
        x: 5,
        y: 30,
      },
      {
        x: 6,
        y: 30,
      },
    ]

    const chart_id = 'line_chart'
    let chart = null
    nextTick(() => {
      refresh()
    })

    const refresh = () => {
      if (chart) chart.destroy()
      chart = new CBChart(
        chart_id,
        {
          elem1: new CBChartDataArtist(data, new CBLineChartPaint(), {
            base_number: props.base_number,
            min_buffer_required: props.min_buffer_required,
            max_buffer_required: props.max_buffer_required,
            buffer_required: props.buffer_required,
          }),
        },
        {
          axis_x: {
            paint: new CBAxisXPaint({
              container_id: chart_id + '_axis_x',
            }),
          },
          axes_y: {
            elem1: {
              paint: new CBAxisYPaint({
                container_id: chart_id + '_axis_y',
              }),
            },
          },
        }
      )
    }

    onBeforeUnmount(() => {
      chart.destroy()
    })

    return {
      refresh,
    }
  },
}
</script>
