<template>
  <button class="btn_primary--line absolute top-0 left-0 m-2" @click="refresh">
    更新圖表
  </button>
  <div class="w-full px-8 lg:pt-8">
    <div id="icon_chart_axis_y"></div>
    <div>
      <div style="width: 100%; height: 100px" id="icon_chart"></div>
      <div id="icon_chart_axis_x"></div>
    </div>
  </div>
</template>

<script>
import { CBChart } from '@/libs/cb-chart/cb_chart.js'
import { CBIconDataArtist } from '@/libs/cb-chart/cb_data_artist.js'
import { CBIconChartPaint } from '@/libs/cb-chart/cb_chart_paint'
import { CBAxisXPaint } from '@/libs/cb-chart/cb_axis_paint.js'
import { nextTick, onBeforeUnmount } from 'vue'

export default {
  props: {
    icon_table: {},
  },

  setup(props) {
    let data = [
      {
        x: 1,
        y: 'fwm',
      },
      {
        x: 2,
        y: 'cibi',
      },
      {
        x: 3,
        y: 'fwm',
      },
      {
        x: 4,
        y: 'fwm',
      },
      {
        x: 5,
        y: 'fwm',
      },
      {
        x: 6,
        y: 'fwm',
      },
    ]

    const chart_id = 'icon_chart'
    let chart = null
    nextTick(() => {
      refresh()
    })

    const refresh = () => {
      if (chart) chart.destroy()
      chart = new CBChart(
        chart_id,
        {
          elem1: new CBIconDataArtist(data, new CBIconChartPaint(), {
            icon_table: props.icon_table,
          }),
        },
        {
          axis_x: {
            paint: new CBAxisXPaint({
              container_id: chart_id + '_axis_x',
            }),
          },
        }
      )
    }

    onBeforeUnmount(() => {
      chart.destroy()
    })

    return {
      refresh,
    }
  },
}
</script>
