<template>
  <Layout>
    <template v-slot:right>
      <!-- 右側：錨點列表 -->
      <AnchorAside v-if="anchor_list.length" :anchor_list="anchor_list">
      </AnchorAside>
    </template>
    <template v-slot:main>
      <!-- 中間 -->
      <h1>Getting Started</h1>

      <section id="introduction">
        <h2>Introduction</h2>
        <p>
          cb-theme
          是雲灣自行開發、供內部使用的樣式庫。提供了一些常用的樣式和元件。
          <br />
          目的是讓我們在前端開發時能方便的取用既有的樣式和元件，節省自行刻元件的時間。
          <br />
          此外，與其他的樣式庫比起來， cb-theme
          的樣式風格較為貼近公司習慣的美術風格。
        </p>
      </section>

      <section id="dependency">
        <h2>Dependency</h2>
        <ul class="list-disc px-6">
          <li>Vue 3</li>
          <li>Windi CSS</li>
        </ul>
      </section>

      <section id="installation">
        <h2>Installation</h2>

        <p class="my-4">Add submodule:</p>
        <CodeBlock
          lang="shell"
          code="git submodule add https://gitlab.com/cloudybay/cb-theme.git src/libs/cb-theme"
        >
        </CodeBlock>

        <p class="my-4">Add preset config:</p>
        <CodeBlock filename="windi.config.js" :code="code_for_preset">
        </CodeBlock>

        <p class="my-4">Import:</p>
        <CodeBlock filename="main.js" :code="code_for_import"> </CodeBlock>
      </section>

      <section id="configuration">
        <h2>Configuration</h2>
        <p>
          模組中有一些樣式參數（主要是顏色）的預設值，放在
          <code class="inline_code">cb-theme/tw_preset.js</code>。
        </p>
        <p>
          須依專案需求，在
          <code class="inline_code">windi.config.js</code> 覆蓋設定。
        </p>

        <h3>Theme Colors</h3>
        <div class="my-2">Primary</div>
        <div class="flex gap-6">
          <div class="flex items-center gap-4">
            <div class="w-16 h-12 bg-primary rounded-lg"></div>
            <div>
              <div class="text-sm font-bold">DEFAULT</div>
              <div class="text-sm">rgb(121, 199, 191)</div>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div class="w-16 h-12 bg-primary-light rounded-lg"></div>
            <div>
              <div class="text-sm font-bold">light</div>
              <div class="text-sm">rgb(121, 199, 191)</div>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div class="w-16 h-12 bg-primary-heavy rounded-lg"></div>
            <div>
              <div class="text-sm font-bold">heavy</div>
              <div class="text-sm">rgb(121, 199, 191)</div>
            </div>
          </div>
        </div>

        <div class="my-2">Accent</div>
        <div class="flex gap-6">
          <div class="flex items-center gap-4">
            <div class="w-16 h-12 bg-accent rounded-lg"></div>
            <div>
              <div class="text-sm font-bold">DEFAULT</div>
              <div class="text-sm">rgb(121, 199, 191)</div>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div class="w-16 h-12 bg-accent-light rounded-lg"></div>
            <div>
              <div class="text-sm font-bold">light</div>
              <div class="text-sm">rgb(121, 199, 191)</div>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div class="w-16 h-12 bg-accent-heavy rounded-lg"></div>
            <div>
              <div class="text-sm font-bold">heavy</div>
              <div class="text-sm">rgb(121, 199, 191)</div>
            </div>
          </div>
        </div>

        <h3 class="mt-8">Example</h3>
        <p class="my-4">拿 TPW 的設定為例。</p>
        <CodeBlock filename="windi.config.js" :code="code_for_cover_preset">
        </CodeBlock>
      </section>
    </template>
  </Layout>
</template>

<script>
import Layout from '@/components/Layout.vue'
import AnchorAside from '@/components/AnchorAside.vue'
import CodeBlock from '@/components/CodeBlock.vue'

import { js_beautify } from 'js-beautify'

export default {
  components: {
    Layout,
    AnchorAside,
    CodeBlock,
  },

  setup() {
    const anchor_list = [
      {
        text: 'Introduction',
        id: 'introduction',
      },
      {
        text: 'Dependency',
        id: 'dependency',
      },
      {
        text: 'Installation',
        id: 'installation',
      },
      {
        text: 'Configuration',
        id: 'configuration',
      },
    ]

    const code_for_preset = js_beautify(`
      module.exports = {
        ...
        presets: [
          require('@/src/libs/cb-theme/tw_preset.js')
        ],
        ...
      }
    `)

    const code_for_import = js_beautify(`
      import cb_theme from '@/libs/cb-theme'
      app.use(cb_theme)
    `)

    const code_for_cover_preset = js_beautify(`
      module.exports = {
        ...
        theme: {
          extend: {
            colors: {
              primary: {
                DEFAULT: 'rgb(64, 64, 64)',
                light: 'rgb(115, 115, 115)',
                heavy: 'rgb(64, 64, 64)'
              },
              accent: {
                DEFAULT: 'rgb(255, 196, 0)',
                light: 'rgb(255, 246, 217)',
                heavy: 'rgb(255, 196, 0)'
              }
            }
          }
        }
        ...
      }
    `)

    return {
      anchor_list,
      code_for_preset,
      code_for_import,
      code_for_cover_preset,
    }
  },
}
</script>

<style></style>
